// 後台主畫面
.backend {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;

  header {
    // height: 100px;
    padding: 20px;
    background-color: #6b6262;
    display: flex;
    justify-content: space-between;

    img {
      height: 60px;
    }

    a {
      color: white;

      h5 {
        padding-top: auto;
        display: inline;
      }
    }
  }

  main {
    padding: 20px;
    background-color: #dddddd;
    text-align: center;

    // 輔助高度
    height: 100vh;

    // bootstrap區 起始
    .list-group-item.active {
      background-color: #6b6262;
      border: #6b6262;
    }

    .list-group-item {
      margin-bottom: 20px;
      padding: 12px;
    }

    label {
      margin-bottom: 10px;
    }

    // 彈窗區
    h6 {
      display: inline;
    }

    .modal-dialog {
      max-width: 700px;
    }

    .modal-body {
      display: flex;
      flex-wrap: wrap;

      .half {
        width: 50%;

        li {
          text-align: left;
          margin-bottom: 20px;

          label {
            display: inline-block;
            width: 100px;
          }

          textarea{
            resize: none;
          }
        }
      }

      .buyproduct {
        width: 100%;
        padding: 10px;
        border-top: 1px black solid;

        .outproduct {
          width: 100%;

          th {
            padding: 6px 0;
          }

          tbody td {
            padding: 6px 0;
          }
        }
      }
    }
    // 彈窗區 結束
    // bootstrap區 結束

    // DATATABLE區 開始
    // 新增標題區 開始
    section {
      text-align: left;
      margin-bottom: 10px;

      .h2 {
        font-size: $h2;
        display: inline;
      }

      button {
        margin-left: 20px;

        .add {
          margin-right: 10px;
        }
      }
    }
    // 新增標題區 結束
    thead {
      background-color: #6b6262;
      tr > th {
        color: white;
      }
    }
    // DATATABLE區 結束
  }
}
