.cart {
    padding-top: 85px;
    max-width: 1200px;
    margin: 0 auto;
    main {
        padding-top: 0;
    }
    @media (max-width: 767.98px) {
        main {
            max-width: 500px;
        }
    }
    @media (max-width: 575.98px) {
        main {
            max-width: 350px;
        }
    }
    .step {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            font-size: 30px;
            font-weight: bold;
            color: $p_color1;
            text-align: center;
            line-height: 57px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            border: 3px solid $p_color1;
        }
        .fst_step {
            color: $p_color2;
        }
        span {
            display: block;
            width: 70px;
            height: 3px;
            background-color: #e9e9e9;
            position: relative;
            overflow: hidden;
            .move {
                display: inline-block;
                width: 25px;
                height: 3px;
                background-color: $p_color1;
                position: absolute;
                top: 0;
                left: -25px;
            }
            .move1 {
                animation: moving 2s linear infinite;
            }
            .move2 {
                animation: moving 2s 0.5s linear infinite;
            }
            .move3 {
                animation: moving 2s 1s linear infinite;
            }
            .move4 {
                animation: moving 2s 1.5s linear infinite;
            }
        }
    }
    .title {
        color: $p_color2;
        padding: 10px;
    }
    .content {
        box-shadow: 0 5px 5px -3px;
    }

    // 購物車內容
    .cart_content {
        .detail {
            display: flex;
            width: 100%;
            .img {
                width: 200px;
                img {
                    max-width: 100%;
                }
            }
            .info {
                flex-grow: 1;
                div {
                    padding-bottom: 10px;
                }
                .ptype {
                    &::before {
                        content: "材質  ";
                    }
                }
                .price {
                    &::before {
                        content: "價錢  NT$";
                    }
                }
            }
            .price {
                justify-content: flex-end;
            }
            .count {
                display: flex;
                padding-bottom: 10px;
                .count_btn {
                    background-color: #fff;
                    border-radius: 1px;
                    border: 1px solid #333;
                    padding: 0 10px;
                    &:first-child {
                        font-size: 20px;
                    }
                }
                span {
                    margin: 0 10px;
                }
            }
            .operate {
                font-size: 30px;
                text-align: right;
                button{
                    background: none;
                    border: 0;
                }
            }
        }
    }
    // 折價券區塊
    .coupon_title {
        margin-top: 40px;
    }
    .coupon_content {
        li {
            display: flex;
            button {
                min-width: 120px;
            }
            input {
                width: 60%;
            }
        }
        span{
            color: red;
        }
    }
    // 訂單資訊區塊
    .order_content {
        position: relative;
        li {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            &:nth-child(5) {
                justify-content: flex-end;
            }
        }
    }
}

// ================== cart2 =================
.cart2 {
    padding-top: 85px;
    max-width: 1200px;
    margin: 0 auto;
    main {
        padding-top: 0;
    }
    @media (max-width: 767.98px) {
        main {
            max-width: 500px;
        }
    }
    @media (max-width: 575.98px) {
        main {
            max-width: 350px;
        }
    }
    .step {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            font-size: 30px;
            font-weight: bold;
            color: $p_color1;
            text-align: center;
            line-height: 57px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            border: 3px solid $p_color1;
        }
        .snd_step {
            color: $p_color2;
        }
        .fst_step,
        .trd_step {
            color: $p_color1;
        }
        span {
            display: block;
            width: 70px;
            height: 3px;
            background-color: #e9e9e9;
            position: relative;
            overflow: hidden;
            &:nth-child(2) {
                background-color: #e9e9e9;
            }
            .move {
                display: inline-block;
                width: 25px;
                height: 3px;
                background-color: $p_color1;
                position: absolute;
                top: 0;
                left: -25px;
            }
            .move1 {
                animation: moving 2s linear infinite;
            }
            .move2 {
                animation: moving 2s 0.5s linear infinite;
            }
            .move3 {
                animation: moving 2s 1s linear infinite;
            }
            .move4 {
                animation: moving 2s 1.5s linear infinite;
            }
        }
    }
    .title {
        color: $p_color2;
        padding: 10px;
    }
    .content {
        box-shadow: 0 5px 5px -3px;
        span{
            color: red;
        }
        li {
            padding-bottom: 10px;
            &:nth-child(2n) {
                padding-bottom: 20px;
            }
            input {
                max-width: 250px;
            }
            textarea {
                max-width: 250px;
                resize: none;
            }
        }
    }

    // 付款方式內容
    .payment_content {
        input {
            margin-bottom: 20px;
            width: 60px;
            // margin-right: 10px;
        }
        div {
            img {
                width: 40px;
                margin-right: 10px;
            }
            #goback {
                background-color: #e3e3e3;
                // border: #999 solid 1px;
                margin-right: 20px;
                &:hover {
                    background-color: darken($color: #e3e3e3, $amount: 20);
                    color: #fff;
                }
            }
            &:nth-child(1){
                margin-bottom: 10px;
            }
            &:nth-child(4) {
                display: flex;
                padding-bottom: 0;
            }
            #check{
                margin-top: 7px;
            }
        }
        .cardInfo{
            margin-top: 20px;
            p{
                margin-bottom: 10px;
            }
            input{
                margin-bottom: 10px;
            }
            #cardname{
                width: 136px;
            }
        }
    }
}

// ================= cart3 =================
.cart3 {
    padding-top: 85px;
    max-width: 1200px;
    margin: 0 auto;
    // padding-top: 0;
    main {
        padding-top: 0;
        h2 {
            width: auto;
        }
    }
    @media (max-width: 767.98px) {
        main {
            max-width: 500px;
        }
    }
    @media (max-width: 575.98px) {
        main {
            max-width: 350px;
        }
    }
    .step {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            font-size: 30px;
            font-weight: bold;
            color: $p_color1;
            text-align: center;
            line-height: 57px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            border: 3px solid $p_color1;
        }
        .trd_step {
            color: $p_color2;
        }
        span {
            display: block;
            width: 70px;
            height: 3px;
            background-color: $p_color1;
            position: relative;
            overflow: hidden;
        }
    }
    .title {
        color: $p_color2;
        padding: 10px;
    }
    .content {
        box-shadow: 0 5px 5px -3px;
        // 內容
        .detail {
            display: flex;
            width: 100%;
            .img {
                width: 200px;
                img {
                    max-width: 100%;
                }
            }
            .info {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                div {
                    padding-bottom: 10px;
                }
                .orderid {
                    &::before {
                        content: "訂單編號：  ";
                    }
                }
                .orderdate {
                    &::before {
                        content: "訂單日期：  ";
                    }
                }
                .orderprice {
                    &::before {
                        content: "訂單總額：  NT$";
                    }
                }
            }
        }
        li {
            &:nth-child(2) {
                display: flex;
                justify-content: right;
            }
        }
    }

    .gobuy {
        text-align: center;
        img {
            width: 40px;
        }
    }
}

@keyframes moving {
    0% {
        left: -40px;
    }
    100% {
        left: 100px;
    }
}
