#customize{
    width: 100%;

    h1{
        text-align: center;
        color: #76706A;
    }
    .sec1{
        background-image: url(/src/img/customize/5.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
    .sec2{
        background-image: url(/src/img/customize/2.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
    .sec3{
        background-image: url(/src/img/customize/3.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
    .sec4{
        background-image: url(/src/img/customize/4.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
    
}

