
.faq{
    .title h1{
        font-size: $h1;
    }

    & .nav-pills .nav-link.active, .nav-pills .show >.nav-link{
        background-color: $btn_color;
        color: $s_color1;
    }

    .accordion-button:focus{
        box-shadow: none;
    }

    .accordion-button::after{
        background-image: url('../../img/faq/plus-solid.svg');
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url('../../img/faq/plus-solid.svg');
    }


}