.index {
    // 輪盤按鈕定位
    .roulette {
        width: 50px;
        padding: 0;
        z-index: 5;
        cursor: pointer;
        position: fixed;
        right: 12px;
        bottom: 120px;
        opacity: 0.5;
        background: none;
        border: 0;
        
        &:hover {
            opacity: 1;
        }
        img {
            max-width: 100%;
        }
        // 跳動動畫
        -webkit-animation:box 3s infinite ;
        @-webkit-keyframes box{
            0%{
              bottom:120px;
            }
            50%{
            bottom:100px; 
            //   border-bottom-right-radius:25px;
            }
            100%{
            bottom:120px;
            }
          }
    }
    //輪盤樣式設定
    .modal-content{
        margin: 0 auto;
    }
    .modal-title{
        font-size: $h2;
        font-weight: 800;
        color: $btn_color;
        margin: 0 auto;
        // letter-spacing: 5px;
        margin-top: 10px;
        display: inline-block;
    }
    .sec span{
        position: relative;
    }
    .wheel-inner-img{
        position: absolute;
        bottom: 45px;
        right: -50px;
        width: 70px;
    }
    .coupon-text{
        text-align: center;
        font-size: $p;
        margin-bottom: 0px;
    }
    .modal-body{
        margin-top: -25px;
        padding-bottom: 50px;
    }
    .modal-footer{
        height: 100px;
        background-color: $btn_color;
        
    }
    .modal-footer span{
        color: $p_color2;
        font-size: $nav_fz;
        font-weight: 600;
        margin: 0 auto;
        text-align: center;
        
    }
    //未登入會員不能玩輪盤ㄛ！
    .-disable{
        pointer-events: none;
        opacity: 0.3;
    }

    .wrapper {
        overflow-x: hidden;
        // max-width: 1200px;
        // margin: 0 auto;
        main {
            // max-width: 100%;
            padding-top: 80px;
            // 黃色圓形
            //   .circle_position {
            //       transform: translate(100px, -350px);
            //       .circle {
            //           display: inline-block;
            //           border-radius: 50%;
            //           width: 150px;
            //           height: 150px;
            //           opacity: .7;
            //           background-color: darken($s_color2, 20);
            //       }
            //   }
        }
        .banner {
            height: 800px;
            // background-color: $s_color2;
            // display: flex;
            // justify-content: center;
            position: relative;
            margin-bottom: 200px;
            padding-bottom: 50px;
            background-image: url("../img/index/pic_slider01.jpg");
            background-size: cover;
            background-position: center top;

            div {
                // max-width: 1200px;
                // width: 50%;
                text-align: center;
                // padding-top: 30px;
                // padding-left: 30px;
                p {
                    text-align: left;
                }
            }
            .banner_img {
                // width: 500px;
                padding-right: 0;
                margin-top: 50px;
                position: relative;
                // position: absolute;
                // right: 0;
                // top: 300px;
                // &::before {
                //     content: "";
                //     display: block;
                //     width: 120px;
                //     height: 1px;
                //     background: $p_color;
                //     transform: rotate(90deg);
                // }

                img {
                    max-width: 100%;
                }
                // scroll
                .vertical {
                    writing-mode: vertical-lr;
                    position: absolute;
                    bottom: 90px;
                    left: -70px;
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 100px;
                        height: 0.5px;
                        background: $p_color;
                        // transform: rotate(90deg) translateX(130px);
                        animation: fade 2s linear infinite;
                    }
                    @keyframes fade {
                        0% {
                            transform: rotate(90deg) translateX(130px);
                            opacity: 0;
                        }
                        50% {
                            transform: rotate(90deg) translateX(140px);
                            opacity: 1;
                        }
                        100% {
                            transform: rotate(90deg) translateX(150px);
                            opacity: 0;
                        }
                    }
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 25px;
                        height: 0.5px;
                        background: $p_color;
                        // transform: rotate(-60deg) translateX(-78px) translateY(52px);
                        animation: fade2 2s linear infinite;
                    }
                    @keyframes fade2 {
                        0% {
                            transform: rotate(-60deg) translateX(-78px) translateY(52px);
                            opacity: 0;
                        }
                        50% {
                            transform: rotate(-60deg) translateX(-86px) translateY(57px);
                            opacity: 1;
                        }
                        100% {
                            transform: rotate(-60deg) translateX(-95px) translateY(62px);
                            opacity: 0;
                        }
                    }
                }
            }
            @media (max-width: 768.98px) {
                .banner_img {
                    margin-top: 20px;
                }
            }
        }
        //   @media (max-width: 768.98px) {
        //       .banner {
        //           margin-bottom: 50px;
        //       }
        //   }

        // 關於我們
        .section2 {
            display: flex;
            .section2_img {
                padding-right: 0;
                // width: 700px;
                img {
                    max-width: 100%;
                }
            }
            div {
                // width: 50%;
                a {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        display: inline-block;
                        width: 100px;
                        height: 0.5px;
                        background: $p_color;
                        // transform: rotate(0deg) translateX(210px) translateY(-5px);
                        // transform: rotate(0deg) translateX(270px) translateY(-5px);
                        // right: -100px;
                        // top: 14px;
                        animation: fade3 2s linear infinite;
                    }
                    @keyframes fade3 {
                        0% {
                            // transform: rotate(0deg) translateX(210px) translateY(-5px);
                            right: -100px;
                            top: 14px;
                            opacity: 0;
                        }
                        50% {
                            // transform: rotate(0deg) translateX(243px) translateY(-5px);
                            right: -150px;
                            top: 14px;
                            opacity: 1;
                        }
                        100% {
                            // transform: rotate(0deg) translateX(270px) translateY(-5px);
                            right: -200px;
                            top: 14px;
                            opacity: 0;
                        }
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        display: inline-block;
                        width: 25px;
                        height: 0.5px;
                        background: $p_color;

                        // transform: rotate(30deg) translateX(70px) translateY(-32px);
                        // right: -24px;
                        animation: fade4 2s linear infinite;
                    }
                    @keyframes fade4 {
                        0% {
                            transform: rotate(30deg) translateX(70px) translateY(-32px);
                            right: -24px;
                            opacity: 0;
                        }
                        50% {
                            transform: rotate(30deg) translateX(70px) translateY(-32px);
                            right: -74px;
                            opacity: 1;
                        }
                        100% {
                            transform: rotate(30deg) translateX(70px) translateY(-32px);
                            right: -124px;
                            opacity: 0;
                        }
                    }
                }
            }
        }

        // 商品展示
        .section3 {
            max-width: 1100px;
            margin: 0 auto;

            // 小商品圖
            .small_position {
                position: relative;
                .inview-scale {
                    position: relative;
                    width: auto;
                    height: 340px;
                    overflow: hidden;
                    .slides-wrapper {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        .small {
                            position: absolute;
                            height: 100%;
                            // display: none;
                            overflow: hidden;
                            // 控制縮放及推開未顯示的圖片
                            transform: scale(1.5) translateY(100%);
                        }
                        // 商品展示控制
                        .-active {
                            // margin-top: 0;
                            z-index: 1;
                            // height: 100%;
                            max-width: 100%;
                            max-height: 100%;
                            display: block;
                            transform: scale(1) translateY(0);
                            transition: transform 1.5s;
                        }
                    }
                }
                // 控制前後張
                .controller {
                    position: absolute;
                    cursor: pointer;
                }
                .prev {
                    top: -40px;
                    left: calc(50% - 30px);
                }
                .next {
                    bottom: -40px;
                    left: calc(50% - 30px);
                }
                @media (max-width: 768.98px) {
                    // 小商品圖控制高度
                    .inview-scale {
                        height: 300px;
                    }
                    .next {
                        bottom: -20px;
                    }
                }

                // 商品名稱
                .product-name {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50px;
                    left: -25px;
                    overflow: hidden;
                    .slide-mask {
                        .shifting-slide-title {
                            position: absolute;
                            // top: calc(50% - 100px);
                            // top: -240px;
                            writing-mode: vertical-lr;
                            font-size: 50px;
                            transform: translateX(-100%);
                        }
                        // 商品展示控制
                        .-active {
                            z-index: 5;
                            display: block;
                            transform: translateX(0px);
                            transition: transform 1s;
                        }
                    }
                }
                @media (max-width: 768.98px) {
                    .product-name {
                        top: 10px;
                    }
                }
            }
            .large_position {
                position: relative;
                padding: 0;
                // width: auto;
                // height: 340px;
                overflow: hidden;
                .slides-wrapper-2 {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    .large {
                        position: absolute;
                        // height: 100%;
                        // display: none;
                        overflow: hidden;
                        transform: scale(1) translateX(-100%);
                    }
                    // 商品展示控制
                    .-active {
                        z-index: 1;
                        display: block;
                        max-width: 100%;
                        max-height: 100%;
                        transform: scale(1) translateX(0);
                        transition: transform 1.5s;
                    }
                }
            }
            @media (max-width: 768.98px) {
                .small_position {
                    max-width: 300px;
                }
                .large_position {
                    margin-top: 60px;
                    height: 100vh;
                    width: 80%;
                }
            }
        }
        .section4 {
            h2 {
                text-align: center;
            }
            .container {
                max-width: 1100px;
                position: relative;
                i {
                    font-size: 30px;
                    color: $p_color;
                    cursor: pointer;
                }
                .fa-angle-left {
                    position: absolute;
                    left: -20px;
                    top: calc(50% - 30px);
                }
                .fa-angle-right {
                    position: absolute;
                    right: -20px;
                    top: calc(50% - 30px);
                }
                .news_item {
                    width: 300px;
                    img {
                        height: 200px;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
