// 會員中心內頁
#member2 {
  .container {
    [data-tab-content] {
      display: none;
    }

    .active[data-tab-content] {
      display: block;
    }

    h2 .textUnderline {
      font-size: $h2;
      font-weight: 900;
      border-bottom: 1px solid $p_color1;
      padding-bottom: 5px;
    }

    .tabs {
      // tab頁籤
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      border-bottom: 1px solid $p_color1;

      .tab {
        cursor: pointer;
      }

      .tab.active {
        border-bottom: 3px solid $btn_color;
      }

      .tab:hover {
        background-color: $btn_color;
        color: $p_color2;
      }
    }

    .tab-content {
      // 頁籤內容
      margin: 0 auto;
      min-height: 200px;

      #member,
      #pwd {
        h3 {
          text-align: center;
        }
        .member-btn,
        .password-btn {
          text-align: center;
        }

        .field-icon {
          float: right;
          margin-left: -25px;
          margin-top: -25px;
          position: relative;
          // z-index: 2;
        }
      }

      .btn_style {
        cursor: pointer;
        border: 1px solid $btn_color;
        background-color: $btn_color;
        border-radius: 2px;
        color: $p_color2;
      }

      #order {
        // 訂單表格
        #table_id{
          width: 100%;
          text-align: center;

          .list-title{
            color: $p_color2;
            background-color: $p_color1;
          }

          .unclick,
          .click{
            color: $s_color1;
            cursor: pointer;
          }
        }
      }

      #favor {
        // 收藏清單
        width: 100%;

        .liked_product {
          text-align: center;
          position: relative;

          .liked_img {
            width: 100%;
            margin-bottom: 10px;
          }

          // .off {
          //   display: none;
          // }

          .heart-like-button {
            position: absolute;
            font-size: $h3;
            right: 25px;
            top: 10px;
            color: #d65076;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
