.member2{
    .wrapper{
        max-width: 1200px;
        margin: 0 auto;
        main{
            h1{
                display: inline-block;
                width: auto;
                border-bottom: 1.5px solid $p_color;
            }
            .member_list{
                font-size: $h3;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid $p_color;
                .item{
                    cursor: pointer;
                }
            }
            .box{
                width: 300px;
                margin: 0 auto;
            }
            .js-color{
                border-bottom: 3px solid $p_color;
            }
        }
    }
}