.news{
    .title h1{
        font-size: $h1;
    }
    h2{
        font-size: $h2;
        text-align: center;
    }
    .lightBlack{
        color: #76706A;
    }
    .news_card{
        color: white;
        text-align: center;
    }
    

}