// main{       
//     padding:0 auto;  
//     margin-top: 200px;
// }
body.product_in{
section.cart{
main section.main>ul.cart{      
    width: 70%;     
    display: flex;   
    margin: 0 auto;
    flex-wrap: wrap;  
    justify-content: space-between;
}
main section.main>ul.cart>li.photo{     
    flex-grow: 5;
    flex-basis:400px;
    text-align: center;  
    height:max-content;  
    padding: 20px 0;
    position: relative;  
    }
.boxder{
    border: 1px solid black;
}
// ul.showbar{
//     width:100%;
//     height: auto;
//     display: flex;
//     flex-direction: row;
//     position: absolute;
//     bottom: 0;
//     left: 10%;
// }
// ul.showbar li{
//     width:10%;
//     height: 10%;     
//     background-color: #fff;
   
// }
// ul.showbar li img{
//     width: 100%;   
//     height: 100%;
    
// }

main section.main>ul.cart>li.content{ 
    flex-grow: 4;
    flex-basis: 350px;
    padding: 10px;
}
main section.main>ul.cart>li>img.product{  
    width: 100%;
    height: 100%;      
         }
main section.main>ul.cart>li>img.favorite{
    width: 25px;
    position: absolute;
    top:15%;
    right: 15%;
    
}
main section.main>ul.cart>li>img:hover{
    /* outline: solid 0.5px gray; */
       border-radius: 5px;
       
}
div.choice_item>ul{
    display: flex;
    justify-content: space-between;
    width: 70%;   
}
div.choice_item>ul>li{
    // font-size: 0.8rem;
    text-align: center;
    flex-grow: 1;
    margin:2px   
   
    // border: gray solid 0.5px;
    // border-radius: 5px;
}
li>img.choice{
    // outline: black 2px solid;
}
li>img.-active{
    outline: black 2px solid;
   
    // border: gray solid 0.5px;
    // border-radius: 5px;
}


div.choice_item>ul>li>img:hover{
    outline: black 2px solid;
    cursor: pointer;
    }
// ul.showbar li:hover{
//     border-bottom: solid 1px black;
//     cursor: pointer;
// }

img{
    width: 100%;   
    // max-width: 100%;
}


@media screen and (max-width:575.98px){
    ul.showbar li{
        width:20%;
        height: 20%;     
        background-color: #fff;
    }
    *{
        text-align: center;
    }
    div.buttom{
        display: inline-block;
    }
}
}
}