$p_color1:#76706A;  //主色
$p_color2:#ffffff;  //主色
$s_color1:#F2F5F4;  //輔色灰
$s_color2:#FBF8EA;  //輔色黃
$btn_color:#A0643E;  //強調色
$p_color:#333; //字體色

$h1:42px;
$h2:28px;
$h3:22px;
$nav_fz:20px;
$p:16px;