// ========== 這支不要動!! =================

@import "base/var";
@import "base/reset";
@import "bootstrap_sass/bootstrap";
@import "mixin/mixins";
@import "layout/layouts";
@import "page/pages";

// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");

body {
    font-size: $p;
    color: $p_color;
    background-image: url("../img/body_bg.png");
    background-size: cover;
    font-family: "Noto Serif TC", serif;
    letter-spacing: 2px;
    line-height: 1.5;
    box-sizing: border-box;
    main {
        padding-top: 80px;
    }
    .js-back-to-top {
        width: 45px;
        z-index: 5;
        cursor: pointer;
        position: fixed;
        right: 14px;
        bottom: 30px;
        display: none;
        opacity: 0.5;
        &:hover {
            opacity: 0.8;
        }
        img {
            max-width: 100%;
        }
    }
    h1 {
        font-size: $h1;
        font-weight: bold;
    }
    h2 {
        font-size: $h2;
        font-weight: bold;
    }
    h3 {
        font-size: $h3;
    }
}
