// 這支不要動
@mixin btn() {
    font-family: "Noto Serif TC", serif;
    width: 100px;
    height: 40px;
    letter-spacing: 2px;
    border-radius: 2px;
    @content;
    // &:hover{
    //     background-color: darken($btn_color,20);
    // }
}
.btn_style{
    @include btn();
}

button{
    border-radius: 0;
}

