footer {
    background-color: $p_color1;
    color: $p_color2;
    .footer_info{
        display: flex;
        align-items: center;
        ul{
            width: 50%;
            a{
                text-decoration: none;
                color: $p_color2;
                display: inline-block;
                &:hover{
                    color: darken($p_color2, 20);
                }
            }
        }
        .link_icon{
            display: flex;
            li{
                width: 50px;
                margin-right: 20px;
                img{
                    max-width: 100%;
                }
            }
        }
    }
    hr.oneheight{
        height: 1px;
    }
    .pt-4{
        text-align: center;
    }
    @media (max-width:768.98px){
        .footer_info{
            display: block;
            ul{
                width: 100%;
            }
        }
    }
}
