footer {
    background-color: $p_color1;
    color: $p_color2;
    display: flex;
    // justify-content: center;
    align-items: center;

    ul{
        width: 50%;
    }
    div{
        a{
            text-decoration: none;
            color: $p_color2;
            display: block;
            &:hover{
                color: darken($p_color2, 20);
            }
        }
    }
}
