<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <title>backendLogin</title>
</head>

<body>
    <main class="backendLogin" id="backend_login">
        <section class="./php/backend_login.php">
            <img src="./img/mori_logo.png" alt="">
            <h2>管理員登入</h2>
            <form >
                <h3 class="">帳號:</h3>
                <input type="text"  v-model="id" name="id">
                <h3 class="">密碼:</h3>
                <input type="password" v-model="psw" name="psw">
                <br>
                <button type="button" @click="login">Login</button>
            </form>
        </section>
    </main>

    <!-- Vus,js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
    <script>
        new Vue({
            el: '#backend_login',
            data: {
                id:'',
                psw:'',
            },
            methods: {
                login(){
                    // alert(this.id)
                    fetch('php/backend_login.php', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        mode: "cors",
                        body: JSON.stringify({ 
                            account:this.id ,
                            psw:this.psw
                        })
                        
                    })
                    .then(res => res.json())
                    .then(res => {
                        if (res['status']=='Success') {
                            window.location = "http://localhost/ooo/backend.html"
                        }else{
                            window.location = "http://localhost/ooo/backendlogin.html"
                        }
                    })
                }
            },
        })
    </script>
</body>

</html>