<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JQ_3.6 CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        referrerpolicy="no-referrer"></script>
    <!-- bootstrap css.js CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <title>backend</title>
</head>

<body class="backend">

    <header class="header">
        <img src="./img/backend/backend_logo.svg" alt="">
        <a href="">
            <h5 class="h5">帳號登出</h5>
            <i class="bi bi-box-arrow-right"></i>
        </a>
    </header>

    <main id="app">
        <!-- Bootstrap 格線系統 -->
        <div class="row">
            <!-- 左半邊導覽列表 -->
            <div class="col-2">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                        href="#list-home" role="tab" aria-controls="home">會員管理</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                        href="#list-profile" role="tab" aria-controls="profile" @click="cell_product">商品管理</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                        href="#list-messages" role="tab" aria-controls="messages" @click="cell_order">訂單管理</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                        href="#list-settings" role="tab" aria-controls="settings">客製化管理</a>
                    <a class="list-group-item list-group-item-action" id="list-coupon-list" data-toggle="list"
                        href="#list-coupon" role="tab" aria-controls="coupon" @click="call_coupon">折扣碼管理</a>
                </div>
            </div>
            <!-- 右半邊內容區塊 -->
            <div class="col-10">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                        aria-labelledby="list-home-list">
                        <!-- DataTable 會員管理區 -->
                        <table id="table_id" class="display table_id">
                            <!-- 標題.新增資料區塊 -->
                            <section>
                                <h2 class="h2">會員管理</h2>
                            </section>
                            <!-- 表單顯示區塊起始 -->
                            <thead>
                                <tr>
                                    <th>會員編號</th>
                                    <th>會員帳號</th>
                                    <th>會員名稱</th>
                                    <th>帳號狀態</th>
                                    <th>建立時間</th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- member -->
                                <tr v-for="(member,index) in members">
                                    <td>{{member.id}}</td>
                                    <td>{{member.account}}</td>
                                    <td>{{member.name}}</td>
                                    <td>{{member.text}}</td>
                                    <td>{{member.jointime}}</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#memberedit" :id="'member_'+member.id"
                                            @click="member_edit(member.id)">
                                            編輯
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- 表單顯示區塊結尾 -->
                        </table>
                    </div>
                    <!-- 商品區開始 -->
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <!-- DataTable 商品管理區 -->
                        <table id="table_id" class="display table_id">
                            <!-- 標題.新增資料區塊 -->
                            <section>
                                <h2 class="h2">商品管理</h2>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#addproductedit">
                                    <i class="bi bi-bag-plus-fill add"></i>點擊新增商品
                                </button>
                            </section>
                            <!-- 表單顯示區塊起始 -->
                            <thead>
                                <tr>
                                    <th>商品編號</th>
                                    <th>商品名稱</th>
                                    <th>商品金額</th>
                                    <th>庫存數量</th>
                                    <th>狀態</th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- product -->
                                <tr v-for="(product,index) in products">
                                    <td>{{product.id}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.stock}}</td>
                                    <td>{{product.text}}</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#productedit" @click="product_edit(product.id)"
                                            :id="'product_'+product.id">
                                            編輯
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- 表單顯示區塊結尾 -->
                        </table>
                    </div>
                    <!-- 商品區結尾 -->

                    <!-- 訂單區開始 -->
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <!-- DataTable 訂單管理區 -->
                        <table id="table_id" class="display table_id">
                            <!-- 標題.新增資料區塊 -->
                            <section>
                                <h2 class="h2">訂單管理</h2>
                            </section>
                            <!-- 表單顯示區塊起始 -->
                            <thead>
                                <tr>
                                    <th>訂單流水</th>
                                    <th>會員編號</th>
                                    <th>訂單編號</th>
                                    <th>訂單狀態</th>
                                    <th>下訂日期</th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 假資料示意區 -->
                                <tr v-for="(order,index) in orders">
                                    <td>{{order.id}}</td>
                                    <td>{{order.member_id}}</td>
                                    <td>{{order.ID_order}}</td>
                                    <td>{{order.status}}</td>
                                    <td>{{order.date}}</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#orderedit" @click="order_edit(order.id)">
                                            編輯
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- 表單顯示區塊結尾 -->
                        </table>
                    </div>
                    <!-- 訂單區結束 -->

                    <!-- 客製區開始 -->
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        <!-- DataTable 客製化訂單管理區 -->
                        <table id="table_id" class="display table_id">
                            <!-- 標題.新增資料區塊 -->
                            <section>
                                <h2 class="h2">客製化管理</h2>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#addkindedit">
                                    <i class="bi bi-bookmark-plus-fill add"></i>點擊新增種類
                                </button>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#addcoloredit">
                                    <i class="bi bi-paint-bucket add"></i>點擊新增顏色
                                </button>
                            </section>
                            <!-- 表單顯示區塊起始 -->
                            <thead>
                                <tr>
                                    <th>訂單流水</th>
                                    <th>訂單編號</th>
                                    <th>會員帳號</th>
                                    <th>下訂日期</th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 假資料示意區 -->
                                <tr v-for="(fake,i) in fakes">
                                    <td>{{fake.id}}</td>
                                    <td>{{fake.couid}}</td>
                                    <td>{{fake.couaccount}}</td>
                                    <td>{{fake.coutime}}</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#customerorderedit" :id="'coustomer_'+fake.couid">
                                            編輯
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- 表單顯示區塊結尾 -->
                        </table>
                    </div>
                    <!-- 客製區結束 -->

                    <!-- 折扣區開始 -->
                    <div class="tab-pane fade" id="list-coupon" role="tabpanel" aria-labelledby="list-coupon-list">
                        <table id="table_id" class="display table_id">
                            <!-- 標題.新增資料區塊 -->
                            <section>
                                <h2 class="h2">折扣碼管理</h2>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#addcouponedit">
                                    <i class="bi bi-plus-square add"></i></i>點擊新增折扣
                                </button>
                            </section>
                            <!-- 表單顯示區塊起始 -->
                            <thead>
                                <tr>
                                    <th>折扣碼編號</th>
                                    <th>折扣金額</th>
                                    <th>創建日期</th>
                                    <th>使用期限</th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- coupon -->
                                <tr v-for="(coupon,c) in coupons">
                                    <td>{{coupon.id}}</td>
                                    <td>{{coupon.price}}</td>
                                    <td>{{coupon.date}}</td>
                                    <td>{{coupon.period}}天</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#couponedit" :id="'coupon_'+coupon.id"
                                            @click="coupon_edit(coupon.id)">
                                            編輯
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- 表單顯示區塊結尾 -->
                        </table>
                    </div>
                    <!-- 折扣區結束 -->
                </div>
            </div>
        </div>

        <!-- Modal 開始-->
        <!-- 會員編輯 開始 -->
        <div class="modal fade" id="memberedit" tabindex="-1" role="dialog" aria-labelledby="membereditLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="">
                        <div class="modal-header">
                            <h5 class="modal-title" id="membereditLabel">會員資訊</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="half">
                                <li>
                                    <label>會員帳號</label>
                                    <input type="text" disabled v-model="member.account">
                                </li>
                                <li>
                                    <label>會員名稱</label>
                                    <input type="text" v-model="member.name">
                                </li>
                                <li>
                                    <label>連絡電話</label>
                                    <input type="text" v-model="member.phone">
                                </li>
                                <li>
                                    <label>收貨地址</label>
                                    <input type="text" v-model="member.address">
                                </li>
                            </ul>
                            <ul class="half">
                                <li>
                                    <label>會員編號</label>
                                    <input type="text" disabled v-model="member.id">
                                </li>
                                <li>
                                    <label> 密碼</label>
                                    <input type="text" v-model="member.password">
                                </li>
                                <li>
                                    <label>性別</label>
                                    <input type="text" disabled v-model="member.gender">
                                </li>
                                <li>
                                    <label>註冊日期</label>
                                    <input type="text" disabled v-model="member.jointime">
                                </li>
                                <li>
                                    <label>會員狀態</label>
                                    <select name="member_status" id="member_status">
                                        <option value="0">正常</option>
                                        <option value="1">凍結</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="button" class="btn btn-primary" @click="UpdateMember">更新</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 會員編輯 結束 -->

        <!-- 新增商品 開始 -->
        <div class="modal fade" id="addproductedit" tabindex="-1" role="dialog" aria-labelledby="addproducteditLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="Add_product">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addproducteditLabel">商品資訊</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="half">
                                <li>
                                    <label>商品名稱</label>
                                    <input type="text" v-model.trim="product_name">
                                </li>
                                <li>
                                    <label>商品庫存</label>
                                    <input type="text" v-model="product_stock">
                                </li>
                                <li>
                                    <label>商品金額</label>
                                    <input type="text" v-model="product_price">
                                </li>
                                <li>
                                    <label>商品內容</label>
                                    <textarea name="" id="" cols="35" rows="6" v-model="product_detail"></textarea>
                                </li>
                            </ul>
                            <ul class="half">
                                <li>
                                    <label>商品尺寸</label>
                                    <input type="text" v-model="product_size">
                                </li>
                                <li>
                                    <label>商品種類</label> 
                                    <select name="product_kind" id="product_kind" selected="selected" v-model="kind">
                                        <option v-for="item in kinds" :value="item.id">{{item.name}}</option>
                                    </select>
                                </li>
                                <li>
                                    <label>商品圖片</label>
                                    <input type="file" name="productpic" id="add_product_pic" accept="image/*"
                                        @change="add_product_img">
                                </li>
                                <li>
                                    <img :src="img" width="150"  v-if="img">
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="button" class="btn btn-primary" @click="ADDproduct">新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 新增商品 結束 -->

        <!-- 商品編輯 開始 -->
        <div class="modal fade" id="productedit" tabindex="-1" role="dialog" aria-labelledby="producteditLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="">
                        <div class="modal-header">
                            <h5 class="modal-title" id="producteditLabel">商品資訊</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="half">
                                <li>
                                    <label>商品編號</label>
                                    <input type="text" disabled v-model="product.id">
                                </li>
                                <li>
                                    <label>商品名稱</label>
                                    <input type=" text" v-model="product.name">
                                </li>
                                <li>
                                    <label>商品庫存</label>
                                    <input type=" text" v-model="product.stock">
                                </li>
                                <li>
                                    <label>商品金額</label>
                                    <input type=" text" v-model="product.price">
                                </li>
                                <li>
                                    <label>商品內容</label>
                                    <textarea name="" id="" cols=" 35" rows="6">{{product.detail}}</textarea>
                                </li>
                            </ul>
                            <ul class="half">
                                <li>
                                    <label>商品種類</label>
                                    <!-- <input type="text" disabled> -->
                                    <select name="product_kind"  v-model="product.kind">
                                        <option v-for="item in kinds" :value="item.id">{{item.name}}</option>
                                    </select>
                                </li>
                                <li>
                                    <label>商品狀態</label>
                                    <select name="product_status" id="product_status">
                                        <option value="0">上架</option>
                                        <option value="1">下架</option>
                                    </select>
                                </li>
                                <li>
                                    <label>商品尺寸</label>
                                    <input type="text" v-model="product.size">
                                </li>
                                <li>
                                    <label>商品原圖</label>
                                    <img :src="product.pic" alt="" width="150">
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="button" class="btn btn-primary" @click="UPproduct">更新</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 商品編輯 結束 -->

        <!-- 訂單編輯 開始 -->
        <div class="modal fade" id="orderedit" tabindex="-1" role="dialog" aria-labelledby="ordereditLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ordereditLabel">訂單資訊</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="half">
                                <li>
                                    <label>訂單流水</label>
                                    <input type="text" disabled>
                                </li>
                                <li>
                                    <label>會員編號</label>
                                    <input type="text" disabled>
                                </li>
                                <li>
                                    <label>下單時間</label>
                                    <input type="text" disabled>
                                </li>
                                <li>
                                    <label>訂單金額</label>
                                    <input type="text" disabled>
                                </li>
                            </ul>
                            <ul class="half">
                                <li>
                                    <label>訂單編號</label>
                                    <input type="text" disabled>
                                </li>
                                <li>
                                    <label>連絡電話</label>
                                    <input type="text">
                                </li>
                                <li>
                                    <label>收貨地址</label>
                                    <input type="text">
                                </li>
                                <li>
                                    <label>訂單狀態</label>
                                    <select name="" id="">
                                        <option value="">未付款</option>
                                        <option value="">付款完成</option>
                                        <option value="">已出貨</option>
                                    </select>
                                </li>
                            </ul>
                            <div class="buyproduct">
                                <label for="">商品內容</label>
                                <table class="outproduct">
                                    <thead>
                                        <tr>
                                            <th>商品編號</th>
                                            <th>商品名稱</th>
                                            <th>商品種類</th>
                                            <th>材質顏色</th>
                                            <th>商品數量</th>
                                            <th>商品金額</th>
                                            <th>小計</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <td>TB-001</td>
                                        <td>雅典原木桌</td>
                                        <td>桌子</td>
                                        <td>松柏褐</td>
                                        <td>4</td>
                                        <td>1000</td>
                                        <td>4000</td>
                                    </tbody>
                                    <tbody>
                                        <td>TB-002</td>
                                        <td>流行原木桌</td>
                                        <td>桌子</td>
                                        <td>原木灰</td>
                                        <td>2</td>
                                        <td>1000</td>
                                        <td>2000</td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="button" class="btn btn-primary">更新</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 訂單編輯 結束 -->

        <!-- 客製編輯 開始 -->
        <div class="modal fade" id="customerorderedit" tabindex="-1" role="dialog"
            aria-labelledby="customerordereditLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="">
                        <div class="modal-header">
                            <h5 class="modal-title" id="customerordereditLabel">客製管理</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="half">
                                <li>
                                    <label>訂單編號</label>
                                    <input type="text" disabled>
                                </li>
                                <li>
                                    <label>會員編號</label>
                                    <input type="text" disabled>
                                </li>
                                <li>
                                    <label>下單時間</label>
                                    <input type="text" disabled>
                                </li>
                                <li>
                                    <label>訂製數量</label>
                                    <input type="text" disabled>
                                </li>
                                <li>
                                    <label>訂單狀態</label>
                                    <select name="" id="">
                                        <option value="">未付款</option>
                                        <option value="">製作中</option>
                                        <option value="">已出貨</option>
                                    </select>
                                </li>
                            </ul>
                            <ul class="half">
                                <li>
                                    <label>商品種類</label>
                                    <input type="text" disabled>
                                </li>
                                <li>
                                    <label>商品顏色</label>
                                    <select name="" id="">
                                        <option value="">檜木褐</option>
                                        <option value="">桃花粉</option>
                                    </select>
                                </li>
                                <li>
                                    <label>商品內容</label>
                                    <textarea name="" id="" cols="35" rows="6"></textarea>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="button" class="btn btn-primary">更新</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 客製編輯 結束 -->

        <!-- 新增折扣 開始 -->
        <div class="modal fade" id="addcouponedit" tabindex="-1" role="dialog" aria-labelledby="addcouponeditLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addcouponeditLabel">折扣碼管理</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="half">
                                <li>
                                    <label for="">折扣金額</label>
                                    <input type="text" value="" id="coupon_price" v-model.number.trim="coupon_price">
                                </li>
                                <li>
                                    <label for="">可使用時間</label>
                                    <input type="text" value="" id="coupon_day" v-model.number.trim="coupon_day">天
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="button" class="btn btn-primary" @click="ADDcoupon">新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 新增折扣 結束 -->

        <!-- 折扣編輯 開始 -->
        <div class="modal fade" id="couponedit" tabindex="-1" role="dialog" aria-labelledby="couponeditLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="">
                        <div class="modal-header">
                            <h5 class="modal-title" id="couponeditLabel">折扣碼管理</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="half">
                                <li>
                                    <label for="">折扣碼編號</label>
                                    <input type="text" disabled v-model="coupon.id">
                                </li>
                                <li>
                                    <label for="">折扣金額</label>
                                    <input type="text" v-model="coupon.price">
                                </li>
                                <li>
                                    <label for="">可使用時間</label>
                                    <input type="text" v-model="coupon.period">
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="button" class="btn btn-primary" @click="UpdateCoupon">更新</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 折扣編輯 結束 -->

        <!-- 創建種類 開始 -->
        <div class="modal fade" id="addkindedit" tabindex="-1" role="dialog" aria-labelledby="addkindeditLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addkindeditLabel">創建種類</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="half">
                                <li>
                                    <label for="">種類名稱</label>
                                    <input type="text" v-model="kind_name">
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="button" class="btn btn-primary" @click="ADDkind">新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 創建種類 結束 -->

        <!-- 創建顏色 開始 -->
        <div class="modal fade" id="addcoloredit" tabindex="-1" role="dialog" aria-labelledby="addcoloreditLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="Add_color">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addcoloreditLabel">創建顏色</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="half">
                                <li>
                                    <label for="">顏色名稱</label>
                                    <input type="text" v-model.trim="color_name">
                                </li>
                                <li>
                                    <label for="">顏色照片</label>
                                    <input type="file" accept="image/*" name="colorpic" id="Add_color_pic">
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="submit" class="btn btn-primary" @click.prevent="ADDcolor">新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 創建顏色 結束 -->

        <!-- Modal 結束-->
    </main>

    <!-- Vus,js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
    <!-- VUE.JS -->
    <script>
        new Vue({
            el: '#app',
            data: {
                member: {
                    id: '',
                    account: '',
                    phone: '',
                    password: '',
                    birthday: '',
                    gender: '',
                    jointime: '',
                    name: '',
                    address: '',
                    status: 0,
                },
                coupon: {
                    id: '',
                    price: '',
                    period: '',
                },
                product: {
                    id: '',
                    name: '',
                    price: '',
                    stock: '',
                    detail: '',
                    status: 0,
                    pic:'',
                    size:'',
                    kind:'1',
                },
                coupon_price: '',
                coupon_day: '',
                color_name: '',
                color_pic: '',
                members: [],
                products: [],
                orders:[],
                order:{
                    id:'',
                    member_id:'',
                    date:'',
                    price:'',
                    ID_order:'',
                    phone:'',
                    address:'',
                    status:'',
                },
                fakes: [
                    {
                        id: '1',
                        couid: '1',
                        couaccount: 'ooooo',
                        coutime: '2020-1-1',
                    },
                    {
                        id: '2',
                        couid: '2',
                        couaccount: 'rrrrrr',
                        coutime: '2020-1-2',
                    },
                ],
                coupons: [],
                product_name: '',
                product_price: '',
                product_stock: '',
                product_detail: '',
                product_size: '',
                product_kind:'',
                kind_name: '',
                kinds: [],
                kind: '',
                img:'',
            },
            mounted() {  //當網頁開啟時馬上執行以下內容

                //撈出會員資料
                fetch('php/Select_member.php')
                    .then(res => res.json())
                    .then(res => {
                        this.members = res
                    }),
                    // 撈出種類資料
                    fetch('php/Select_kind.php')
                        .then(res => res.json())
                        .then(res => {
                            // console.log(res);
                            this.kinds = res
                        })
                //
                const input = document.querySelector('input[type="file"]')
            },
            methods: {
                member_edit(id) {  // 撈單筆會員資料 開始
                    // alert(id)
                    fetch('php/Select_member.php', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        mode: "cors",
                        body: JSON.stringify({ memberid: id })
                    })
                        .then(res => res.json())
                        .then(res => {
                            this.member.id = res[0]['id']
                            this.member.name = res[0]['name']
                            this.member.phone = res[0]['phone']
                            this.member.address = res[0]['address']
                            this.member.birthday = res[0]['birthday']
                            this.member.password = res[0]['password']
                            this.member.jointime = res[0]['jointime']
                            this.member.gender = res[0]['gender']
                            this.member.account = res[0]['account']
                            this.member.status = res[0]['status']
                            let status = this.member.status
                            $("#member_status").find('option').removeAttr("selected")
                            $(`#member_status option[ value = ${status}]`).attr("selected", true)
                        })
                },
                // 撈單筆會員資料 結束
                coupon_edit(id) {  //撈單筆會員資料 開始
                    // alert(id)  //已抓到
                    fetch('php/Select_coupon.php', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        mode: "cors",
                        body: JSON.stringify({ couponid: id })
                    })
                        .then(res => res.json())
                        .then(res => {
                            this.coupon.id = res[0]['id']
                            this.coupon.price = res[0]['price']
                            this.coupon.period = res[0]['period']
                        })
                },
                // 撈單筆會員資料 結束
                product_edit(id) {  //撈單筆商品資料 開始
                    // alert(id)
                    fetch('php/Select_product.php', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        mode: "cors",
                        body: JSON.stringify({ productid: id })
                    })
                        .then(res => res.json())
                        .then(res => {
                            this.product.id = res[0]['id']
                            this.product.name = res[0]['name']
                            this.product.price = res[0]['price']
                            this.product.stock = res[0]['stock']
                            this.product.detail = res[0]['detail']
                            this.product.status = res[0]['status']
                            this.product.pic = res[0]['pic']
                            this.product.size = res[0]['size']
                            this.product.kind = res[0]['kind_id']
                            let status = this.product.status
                            $("#product_status").find('option').removeAttr("selected")
                            $(`#product_status option[ value = ${status}]`).attr("selected", true)
                            let kind = this.product.kind
                            $("#product_kind").find('option').removeAttr("selected")
                            $(`#product_kind option[ value = ${kind}]`).attr("selected", true)
                        })
                },
                //  撈單筆商品資料 結束
                order_edit(id){   //撈單筆訂單資料 開始
                    fetch('php/Select_order.php', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        mode: "cors",
                        body: JSON.stringify({ orderid: id })
                    })
                        .then(res => res.json())
                        .then(res => {
                            this.order.id = res[0]['id']
                            this.order.price = res[0]['price']
                            this.order.period = res[0]['period']
                        })
                },
                // 撈單筆訂單資料 結束
                cell_product() {  //撈商品資料 開始
                    fetch('php/Select_product.php')
                        .then(res => res.json())
                        .then(res => {
                            this.products = res
                        })
                },
                // 撈商品資料 結束
                call_coupon() {   //撈出折扣資料
                    fetch('php/Select_coupon.php')
                        .then(res => res.json())
                        .then(res => this.coupons = res)
                },
                // 撈折扣資料 結束
                cell_order(){
                    fetch('php/Select_order.php')
                        .then(res => res.json())
                        .then(res => this.orders = res)
                },
                ADDcoupon() {   //新增折扣事件 開始
                    let coupon_price = this.coupon_price
                    let coupon_day = this.coupon_day
                    // alert(coupon_day)
                    if (coupon_price == '') {
                        alert("價錢未填寫")
                        return
                    } else if (coupon_day == '') {
                        alert("使用期限未填寫")
                        return
                    } else {
                        fetch('php/add_coupon.php', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json'
                            },
                            mode: "cors",
                            body: JSON.stringify(
                                {
                                    newprice: coupon_price,
                                    newperiod: coupon_day
                                }
                            ),
                        })
                            .then(res => res.json())
                        // .then(res => console.log(res))
                        alert('新增成功')
                        this.coupon_price = ''
                        this.coupon_day = ''
                    }
                },
                //點擊新增折扣事件結尾
                ADDkind() {
                    let kind_name = this.kind_name
                    alert(kind_name)
                    if (this.kind_name != '') {
                        alert("種類名稱未填寫")
                        return
                    } else {
                        fetch('php/add_kind.php', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json'
                            },
                            mode: "cors",
                            body: JSON.stringify(
                                {
                                    newkindname: kind_name,
                                }
                            ),
                        })
                            .then(res => res.json())
                        alert('新增成功')
                        this.kind_name = ''
                    }
                },
                ADDcolor() {      //點擊新增顏色 開始
                    if (this.color_name == '') {
                        alert("不可以沒有顏色名稱")
                        return
                    } else {
                        var form = new FormData(document.getElementById("Add_color"))
                        form.append('Add_color', this.color_name)
                        $.ajax({
                            url: 'php/add_color.php',
                            type: 'POST',
                            data: form,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                alert('新增成功')
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                if (textStatus == "error") {
                                    alert('請依照格式上傳圖片')
                                }
                            }
                        })
                        location.reload()
                    }
                },
                //點擊新增顏色事件 結束
                ADDproduct() {  //新增商品事件 開始
                    let product_status = $('#product_status').val()
                    // 撈資訊測試
                    // alert(this.kind)
                    if (this.product_name === '' || this.product_price === '' || this.kind === '' || this.product_stock === '' || this.product_size === '' || this.product_detail === '') {
                        // alert("請確認所有欄位都有填寫完成")
                    } else {
                        let form = new FormData(document.getElementById("Add_product"))
                        form.append('Add_name', this.product_name)
                        form.append('Add_detail', this.product_detail)
                        form.append('Add_price', this.product_price)
                        form.append('Add_size', this.product_size)
                        form.append('Add_kind', this.kind)
                        form.append('Add_status', product_status)
                        form.append('Add_stock', this.product_stock)
                        $.ajax({
                            url: 'php/add_product.php',
                            type: 'POST',
                            data: form,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                alert('新增成功')
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                if (textStatus == "error") {
                                    alert('請依照格式上傳圖片')
                                }
                            }
                        })
                        location.reload() 
                    }
                },
                // 點擊新增商品事件 結束
                UpdateMember() {     //更新會員資料 開頭
                    let member_status = $('#member_status').val()
                    // alert(member_status)
                    fetch('php/Update_member.php', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        mode: "cors",
                        body: JSON.stringify(
                            {
                                UPid: this.member.id,
                                UPpassword: this.member.password,
                                UPname: this.member.name,
                                UPaddress: this.member.address,
                                UPphone: this.member.phone,
                                UPstatus: member_status,
                            }
                        ),
                    })
                        .then(res => res.json())
                    // .then(res =>console.log(res))
                    alert('更新成功')
                    location.reload()
                },
                // 更新會員資料 結尾
                UpdateCoupon() {    //更新折扣 開始
                    fetch('php/Update_coupon.php', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        mode: "cors",
                        body: JSON.stringify(
                            {
                                id: this.coupon.id,
                                price: this.coupon.price,
                                period: this.coupon.period,
                            }
                        ),
                    })
                    alert('更新成功')
                    location.reload()
                },
                // 更新折扣 結束
                UPproduct() {  // 更新
                    let product_status = $('#product_status').val()
                    // alert(this.product.kind)
                    fetch('php/Update_product.php', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        mode: "cors",
                        body: JSON.stringify(
                            {
                                UPid: this.product.id,
                                UPname: this.product.name,
                                UPstatus: product_status,
                                UPprice: this.product.price,
                                UPstock: this.product.stock,
                                UPsize: this.product.size,
                                UPdetail: this.product.detail,
                                UPkind: this.product.kind, 
                            }
                        ),
                    })
                    alert('更新成功')
                    location.reload()
                },
                // 更新商品 結束
                add_product_img(e) {   // 新增商品圖片預覽 開始
                    const file = e.target.files.item(0)
                    const reader = new FileReader()
                    reader.addEventListener('load', this.imageLoaded)
                    reader.readAsDataURL(file)
                    console.log(this.imageLoaded)
                },
                imageLoaded(e) {
                    this.img = e.target.result
                },
                // 新增商品圖片預覽 結束
            },
        })
    </script>
</body>

</html>