<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('layout/head.html')
  </head>

  <body>
    @@include('layout/top.html') @@include('layout/nav.html')
    <div id="step">
      <div class="wrapper cart" v-if="step == 'A'">
        <div class="step pt-4 pb-4">
          <div class="fst_step bg-primary">1</div>
          <span>
            <span class="move move1"></span>
            <span class="move move2"></span>
            <span class="move move3"></span>
            <span class="move move4"></span>
          </span>
          <div class="snd_step bg-white">2</div>
          <span></span>
          <div class="trd_step bg-white">3</div>
        </div>

        <!-- ========================== cart1 ========================== -->
        <main class="box mx-auto">
          <div class="row">
            <div class="col-12 col-lg-8 col-xs">
              <p>※因超商包裹體積限制，森活木工一律只提供宅配寄送，敬請見諒。</p>

              <ul class="title cart_title bg-primary mb-0">
                <li>購物車</li>
              </ul>
              <ul
                v-for="(item, index) in products"
                class="content cart_content bg-gray p-3"
              >
                <li class="detail">
                  <div class="img">
                    <img :src="item.pic" />
                  </div>
                  <div class="info ps-5">
                    <div class="pname">{{item.name}}</div>
                    <!-- <div class="ptype">{{item.type}}</div> -->

                    <div class="count">
                      <button class="count_btn" @click="reduce(item)">-</button>
                      <span>{{item.count}}</span>
                      <button class="count_btn" @click="add(item)">+</button>
                    </div>

                    <div class="price">{{item.price}}</div>
                    <div class="operate">
                      <button class="del" @click="del(index)">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-12 col-lg-4 col-xs">
              <!-- 折價券 -->
              <ul class="title coupon_title bg-primary mb-0">
                <li>使用折價券</li>
              </ul>
              <ul class="content coupon_content bg-gray p-3">
                <li>
                  <input type="text" v-model="coupon.code" />
                  <button class="btn btn-warning btn_style" @click="useCoupon">
                    折價券折抵
                  </button>
                </li>
                <span>{{couponErrMsg}}</span>
              </ul>

              <!-- 訂單資訊 -->
              <ul class="title order_title bg-primary mb-0">
                <li>訂單資訊</li>
              </ul>
              <ul class="content order_content bg-gray p-3">
                <li>
                  <span>商品總計</span>
                  <span>NT${{sumTotal}}</span>
                </li>
                <li>
                  <span>折抵總計</span>
                  <span>-NT${{coupon.price}}</span>
                </li>
                <li>
                  <span>運費</span>
                  <span>NT$80</span>
                </li>
                <li>
                  <span>總金額</span>
                  <span>NT${{sumTotal - coupon.price + 80}}</span>
                </li>
                <li>
                  <button
                    type="button"
                    class="btn btn-warning btn_style"
                    id="checkout"
                    @click="goStepB"
                  >
                    結帳
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </main>
      </div>

      <!-- ========================= cart 2 ========================= -->
      <div class="wrapper cart2" v-else-if="step == 'B'">
        <div class="step pt-4 pb-4">
          <div class="fst_step bg-white">1</div>
          <span></span>
          <div class="snd_step bg-primary">2</div>
          <span>
            <span class="move move1"></span>
            <span class="move move2"></span>
            <span class="move move3"></span>
            <span class="move move4"></span>
          </span>
          <div class="trd_step bg-white">3</div>
        </div>

        <main class="box mx-auto">
          <div class="row">
            <div class="col-12 col-lg-6 col-xs">
              <!-- 訂購人資料 -->
              <ul class="title bg-primary mb-0">
                <li>訂購人資料</li>
              </ul>
              <ul class="content bg-gray p-3">
                <li>姓名：</li>
                <li>
                  <input type="name" v-model="userInfo.name" />
                  <span>{{userNameErrMsg}}</span>
                </li>

                <li>手機：</li>
                <li>
                  <input type="phone" v-model="userInfo.phone" maxlength="10" />
                  <span>{{phoneErrMsg}}</span>
                </li>

                <li>地址：</li>
                <li>
                  <input type="address" v-model="userInfo.address" />
                  <span>{{addressErrMsg}}</span>
                </li>

                <li>備註：</li>
                <li>
                  <textarea
                    cols="30"
                    rows="10"
                    v-model="userInfo.other"
                  ></textarea>
                </li>
              </ul>
            </div>

            <div class="col-12 col-lg-6 col-xs">
              <!-- 付款方式 -->
              <ul class="title bg-primary mb-0">
                <li>付款方式</li>
              </ul>
              <div class="content payment_content bg-gray p-3">
                <div>
                  <!-- <input type="radio" id="pay">
                                <label for="pay">線上信用卡付款 ( 支援以下信用卡 ) </label> -->
                  線上信用卡付款 ( 支援以下信用卡 )
                </div>
                <div>
                  <img src="./img/cart/visa.png" alt="" />
                  <img src="./img/cart/maestro.png" alt="" />
                  <img src="./img/cart/jcb.png" alt="" />
                  <img src="./img/cart/union-pay.png" alt="" />
                </div>
                <!-- <div>信用卡卡號：</div> -->
                <div class="cardInfo">
                  <p>持卡人姓名：</p>
                  <input
                    type="text"
                    id="cardname"
                    v-model="cardInfo.cardName"
                  />
                  <span>{{cardNameErrMsg}}</span>

                  <p>信用卡卡號：</p>
                  <input
                    type="text"
                    class="cardnum"
                    placeholder="0000"
                    maxlength="4"
                    @keydown="creditdown"
                    @keyup="creditup"
                    v-model="cardInfo.cardNum.no1"
                  />

                  <input
                    type="text"
                    class="cardnum"
                    placeholder="0000"
                    maxlength="4"
                    @keydown="creditdown"
                    @keyup="creditup"
                    v-model="cardInfo.cardNum.no2"
                  />

                  <input
                    type="text"
                    class="cardnum"
                    placeholder="0000"
                    maxlength="4"
                    @keydown="creditdown"
                    @keyup="creditup"
                    v-model="cardInfo.cardNum.no3"
                  />

                  <input
                    type="text"
                    class="cardnum"
                    placeholder="0000"
                    maxlength="4"
                    @keydown="creditdown"
                    @keyup="creditup"
                    v-model="cardInfo.cardNum.no4"
                  />
                  <span>{{cardNumErrMsg}}</span>

                  <p>有效日期：</p>
                  <input
                    type="text"
                    placeholder="MM"
                    maxlength="2"
                    id="month"
                    v-model="cardInfo.cardDate.month"
                  />
                  /
                  <input
                    type="text"
                    placeholder="YY"
                    maxlength="2"
                    id="year"
                    v-model="cardInfo.cardDate.year"
                  />
                  <span>{{cardDateErrMsg}}</span>

                  <p>安全碼：</p>
                  <input
                    type="text"
                    placeholder="000"
                    maxlength="3"
                    id="CSC"
                    v-model="cardInfo.cardcsc"
                  />
                  <span>{{cardcscErrMsg}}</span>
                </div>
                <div>
                  <input type="checkbox" id="check" />
                  <label for="check"
                    >我已閱讀並同意本網站的
                    <a href="faq.html">《服務條款》</a>及
                    <a href="faq.html">《退換貨政策》</a>
                  </label>
                </div>
                <div>
                  <button class="btn btn_style" id="goback" @click="step = 'A'">
                    回上一步
                  </button>
                  <button
                    class="btn btn-warning btn_style"
                    id="finish"
                    @click="sendOrder"
                  >
                    提交訂單
                  </button>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <!-- ========================= cart 3 ========================= -->

      <div class="wrapper cart3" v-else-if="step == 'C'">
        <div class="step pt-4 pb-4">
          <div class="fst_step bg-white">1</div>
          <span></span>
          <div class="snd_step bg-white">2</div>
          <span></span>
          <div class="trd_step bg-primary">3</div>
        </div>

        <main class="box mx-auto">
          <div class="row">
            <h2 class="mx-auto mb-4">
              恭喜您完成此次訂單，若要查詢訂單狀態，可至訂單紀錄查看！
            </h2>
            <div class="col-12 col-lg-6 col-xs mx-auto">
              <!-- 訂購人資料 -->
              <ul class="title bg-primary mb-0">
                <li>訂單明細</li>
              </ul>
              <ul class="content bg-gray p-3">
                <li class="detail">
                  <div class="info ps-5">
                    <div class="orderid">{{order.id}}</div>
                    <div class="orderdate">{{order.date}}</div>
                    <div class="orderprice">{{order.total}}</div>
                  </div>
                </li>
                <li>
                  <a href="member.html" class="btn btn-warning btn_style"
                    >訂單詳請</a
                  >
                </li>
              </ul>
            </div>

            <div class="gobuy mt-4">
              <img src="./img/cart/dining.png" />
              <a href="product.html">繼續購物</a>
            </div>
          </div>
        </main>
      </div>
    </div>
    @@include('layout/footer.html')

    <script src="./js/cart.min.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
