<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('layout/head.html')
    <!-- 字型 google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <!-- lightSlider & fancybox css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body id="customizeItem">
    @@include('layout/login.html')
    @@include('layout/nav.html')
    @@include('layout/top.html')
    <main>
      <section class="container product-detail">
        <div class="row justify-content-between">
          
          <div data-tab-content class="imagery col-lg-6" style="background-image: url('./img/customize/color/brown.jpg')">
            <img src="./img/customize/image/xr-brown.png" class="type-image" />
          </div>

          <!-- <div data-tab-content class="imagery col-lg-6" style="background-image: url('/img/customize/color/brown.jpg')">
            <img src="/img/customize/image/cb-brown.png" class="type-image" />
          </div>

          <div data-tab-content class="imagery col-lg-6" style="background-image: url('/img/customize/color/brown.jpg')">
            <img src="/img/customize/image/ch-brown.png" class="type-image" />
          </div> -->

          <div class="col-lg-6">
            <form class="detail margin_top_30">
              <ul class="tabs catagory">
                <li id="tab1" data-tab-target="#table" class="active tab padding_10" v-if="active_index === 1" :class="{'-active' : active_index === 1}">原木圓桌</li>
                <li id="tab2" data-tab-target="#cabinet" class="tab padding_10" v-if="active_index === 2" :class="{'-active' : active_index === 2}">原木收納櫃</li>
                <li id="tab3" data-tab-target="#chai" class="tab padding_10" v-if="active_index === 3" :class="{'-active' : active_index === 3}">原木餐椅</li>
              </ul>
              <!-- <div class="catagory">
                <button  data-catagory="table" class="active catagory-btn">原木圓桌</button>
                <button  data-catagory="cabinet" class="catagory-btn">原木收納櫃</button>
                <button id="chair" data-catagory="chair" class="catagory-btn">原木餐椅</button>
              </div> -->

              <div class="options">
                <p class="margin_top_20">請選擇木材</p>
                <div class="colors btn_grid margin_top_20">
                  <div class="btn_wrap padding_10">
                    <button type="button" class="color brown padding_10 selected" data-name="brown">
                      胡桃木
                    </button>
                  </div>
                  <div class="btn_wrap padding_10">
                    <button type="button" class="color beige padding_10" data-name="beige">
                      白梣木
                    </button>
                  </div>
                  <div class="btn_wrap padding_10">
                    <button type="button" class="color red padding_10" data-name="red">
                      紅橡木
                    </button>
                  </div>
                  <div class="btn_wrap padding_10">
                    <button type="button" class="color green padding_10" data-name="green">
                      綠橡木
                    </button>
                  </div>
                  <div class="btn_wrap padding_10">
                    <button type="button" class="color black padding_10" data-name="black">
                      黑梣木
                    </button>
                  </div>
                </div>

                <div class="qty margin_top_20">
                  數量<br /><input type="number" value="1" />
                </div>
                <div class="comment margin_top_20">
                  其他需求<br /><textarea></textarea>
                </div>

                <button type="submit" class="submit margin_top_10 btn_style">
                  送出訂製單
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>

    @@include('layout/footer.html')

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script> -->
    
    <script>
      window.onload = function () {
        const color_btn_el = document.querySelectorAll(".colors .color");
        // console.log(color_btn_el);
        const imagery_el = document.querySelector("div.imagery");
        // console.log(imagery_el);
        const image_el = document.querySelector(".imagery .type-image");
        // console.log(image_el);

        for (let i = 0; i < color_btn_el.length; i++) {
          let btn = color_btn_el[i];

          btn.addEventListener("click", function () {
            document.querySelector(".colors .color.selected").classList.remove("selected");
            this.classList.add("selected");

            // 產品圖片邊更
            image_el.src =
              "./img/customize/image/xr-" + this.dataset.name + ".png";

            // 背景圖變更
            imagery_el.style.backgroundImage = `url('./img/customize/color/${this.dataset.name}.jpg')`;
            // console.log(imagery_el);
            // console.log(this.dataset.name);
          });
        }

        // 款式圖片切換
        let img = document.querySelector(".type-image");
        let tableBtn = document.querySelector("#tab1");
        let cabinetBtn = document.querySelector("#tab2");
        let chairBtn = document.querySelector("#tab3");

        tableBtn.addEventListener('click', () => {
        img.src = './img/customize/image/xr-brown.png';
        })
        
        cabinetBtn.addEventListener('click', () => {
        img.src = './img/customize/image/cb-brown.png';
        })
          
        chairBtn.addEventListener('click', () => {
        img.src = './img/customize/image/ch-brown.png';
        })

        //由customize.html進入, 對應tab加 class active
        var search_obj = new URLSearchParams(location.search);
        var catagory_btn = document.querySelectorAll('li.tab');
        console.log(search_obj.get("tab")); // 1, 2, 3
        console.log(catagory_btn); // 陣列
        
        // for (let i = 0; i < catagory_btn.length; i++){
        //   if ( this.dataset.value === search_obj.get("tab")){
        //     this.classList.add('active')
        //   }else{
        //     catagory_btn.classList.remove('active')
        //   }
        // }

        // 款式btn切換class
        var catagory_btn = document.querySelectorAll('li.tab');
        var tabContents = document.querySelectorAll("[data-tab-content]");

        catagory_btn.forEach((tab) => {
        tab.addEventListener("click", () => {
          tabContents.forEach((tabContent) => {
            tabContent.classList.remove("active");           
          });
          catagory_btn.forEach((tab) => {
            tab.classList.remove("active");
          });
          tab.classList.add("active");
        });
      });

      };  
      
    </script>
  </body>
</html>
