<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/head.html')
</head>

<body class="index">
    <div class="roulette button">
        <img src="./img/index/lucky-wheel.png">
    </div>
    <!-- 輪盤小遊戲彈跳視窗 -->

    <!-- 共用的top鍵 -->
    @@include('layout/top.html')
    <div class="wrapper">
        @@include('layout/login.html')
        @@include('layout/nav.html')
        <!-- 首頁 -->
        <main>
            <!-- banner -->
            <section class="banner bg-yellow row">
                <div class="pt-5 px-5 col-12 col-md-6" data-aos="fade-up" data-aos-duration="3000">
                    <h1 class="text">森活木工</h1>
                    <h1>Mori Furniture</h1>
                    <p class="mt-3">堅持不過度濫砍森林樹木，不大量製造量產，在使用樹木的同時也還給森林呼吸的生活空間，感謝森林給予我們的，為我們的生活帶來方便舒適的環境。</p>
                </div>
                <div class="banner_img col-12 col-md-6 parallax-bg" data-aos="fade-up">
                    <div class="bg_1">
                        <img src="./img/index/1.jpg" alt="" class="img-fluid">
                    </div>

                    <p class="vertical" data-aos="fade-up" data-aos-duration="3000" data-aos-delay="300">SCROLL</p>
                </div>
            </section>

            <!-- 關於我們 -->
            <section class="section2 pb-5 row">
                <div class="section2_img col-12 col-md-6" data-aos="fade-right" data-aos-duration="3000">
                    <video src="./img/index/production.mp4" playsinline autoplay muted loop type="video/mp4"
                        height="100%" width="100%" class="banner-video">
                    </video>
                    <!-- <img src="./img/index/2.jpg" alt="" class="img-fluid"> -->
                </div>
                <div class="pt-5 px-5 col-12 col-md-6">
                    <h2 data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">關於我們 About us</h2>
                    <p class="mt-3" data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">
                        森活木工以再生木材製造，符合環保、職人工藝以及設計的高標準製作每一件家具。</p>
                    <a href="about.html" data-aos="fade-up" data-aos-duration="3000" data-aos-delay="300">view more</a>
                </div>
            </section>

            <!-- <div class="circle_position parallax-bg" data-aos="fade-up">
                <span class="circle bg_2_1"></span>
                <span class="circle bg_2_2"></span>
            </div> -->

            <!-- 商品呈現 -->
            <section class="section3 mt-5 pb-5 row" id="index">
                <!-- 小商品圖 -->
                <div class="small_position col-12 col-md-4 mx-auto" data-aos="fade-right" data-aos-duration="3000">
                    <div v-for="(item ,index) in smallImgs" :index="index" class="slides-wrapper">
                        <div class="small" :class="{'-active':active_index === index}">
                            <img :src="item.img" class="img-fluid">
                        </div>
                        <!-- 商品名 -->
                    </div>
                    <div class="product-name">
                        <div class="slide-mask" v-for="(item ,index) in productName" :index="index">
                            <p class="shifting-slide-title" :class="{'-active':active_index === index}">{{item.text}}</p>
                        </div>
                    </div>
                    <!-- 前一張按鈕 -->
                    <div class="controller prev" @click="prev">
                        <span>PREV</span>
                    </div>
                    <!-- 後一張按鈕 -->
                    <div class="controller next" @click="next">
                        <span>NEXT</span>
                    </div>
                </div>
                <!-- 大商品圖 -->
                <div class="large_position col-12 col-md-6 mx-auto" data-aos="fade-left" data-aos-duration="3000">
                    <div v-for="(item ,index) in largeImgs" :index="index" class="slides-wrapper-2">
                        <div class="large" :class="{'-active':active_index === index}">
                            <img :src="item.img" class="img-fluid">
                        </div>
                    </div>
                </div>
            </section>

            <!-- 最新消息 -->
            <section class="section4 mt-5 pb-5 bg-yellow">
                <h2 class="pt-5 pb-3" data-aos="fade-up" data-aos-duration="3000">最新消息 News</h2>

                <div class="container" data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">
                    <i class="fa-solid fa-angle-left"></i>
                    <div class="responsive">
                        <div class="news_item me-2">
                            <a href="news.html">
                                <img src="./img/news/main.jpg" alt="">
                                <p>身處都市中的叢林~誰說辦公室只能一成不變...
                                </p>
                            </a>
                        </div>
                        <div class="news_item me-2">
                            <a href="news.html">
                                <img src="./img/news/img_flag-01.png" alt="">
                                <p>五倍券也可以買家具！<br>12/10正式啟用五倍券...
                                </p>
                            </a>
                        </div>
                        <div class="news_item me-2">
                            <a href="news.html">
                                <img src="./img/news/1864_101_l.jpg.png">
                                <p>想要營造出舒適環境沙發是你不可獲缺的...
                                </p>
                            </a>
                        </div>
                        <div class="news_item me-2">
                            <a href="news.html">
                                <img src="./img/news/1.jpeg.jpg" alt="">
                                <p>全館滿額 折現又贈紅利點消費滿2500...
                                </p>
                            </a>
                        </div>
                        <div class="news_item me-2">
                            <a href="news.html">
                                <img src="./img/news/2.jpeg.jpg" alt="">
                                <p>雙11光棍節 森活木工推出「狂歡購物季」...
                                </p>
                            </a>
                        </div>
                        <!-- <div class="news_item me-2">
                            <a href="news.html">
                                <img src="./img/news/main.jpg" alt="">
                                <p>身處都市中的叢林~誰說辦公室只能一成不變...
                                </p>
                            </a>
                        </div> -->
                    </div>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </section>
        </main>
    </div>
    @@include('layout/footer.html')
    <!-- gsap -->
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426"></script>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js?v=7"></script>

    <script>
        AOS.init();
        // gsap
        gsap.to(".parallax-bg", {
            scrollTrigger: {
                scrub: true
            },
            y: (i, target) => -ScrollTrigger.maxScroll(window) * target.dataset.speed,
            ease: "none"
        });

        // 最新消息的輪播
        $('.responsive').slick({
            dots: true,
            infinite: true,
            // speed: 300,
            autoplay: true,
            autoplaySpeed: 2000,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

        $(function () {
            // ==== 輪盤彈窗 ====
            // ==== 右下輪盤JS ====
            var degree = 1800;
            var clicks = 0;

            $(document).ready(function () {
                $('#spin').click(function () {

                    clicks++;
                    var newDegree = degree * clicks;
                    var extraDegree = Math.floor(Math.random() * (360 - 1 + 1)) + 1;
                    totalDegree = newDegree + extraDegree;

                    $('#wheel .sec').each(function () {
                        var t = $(this);
                        var noY = 0;

                        var c = 0;
                        var n = 700;
                        var interval = setInterval(function () {
                            c++;
                            if (c === n) {
                                clearInterval(interval);
                            }

                            var aoY = t.offset().top;
                            $('#txt').html(aoY);

                            if (aoY < 23.89) {
                                $('#spin').addClass('spin');
                                setTimeout(function () {
                                    $("#spin").removeClass('spin');
                                }, 100);
                            }
                        }, 10);

                        $('#inner-wheel').css({ 'transform': 'rotate(' + totalDegree + 'deg)' });

                        noY = t.offset().top;
                    });
                });
            });
            // ==== 輪播按鈕控制 ====
            $(window).resize(function () {
                $('.slick-prev').hide();
                $('.slick-next').hide();
                $('.slick-dots').hide();
            });
            $('.slick-prev').hide();
            $('.slick-next').hide();
            $('.slick-dots').hide();

            $('.fa-angle-right').on("click", function () {
                $('.slick-next').click();
            });
            $('.fa-angle-left').on("click", function () {
                $('.slick-prev').click();
            });


            // ==== 商品展示 ====
            // let count = 0;
            // $('.small').eq(0).addClass('-active'); //將第一張圖顯示出來
            // $('.shifting-slide-title').eq(0).addClass('-active');
            // $('.large').eq(0).addClass('-active');
            // $(document).on('click', '.next', function (e) {
            //     count++;
            //     $('.small').each(function (index) {
            //         $('.small').eq(index).removeClass('-active'); //將所有圖片都不顯示
            //         $('.small').eq(count).addClass('-active');
            //         if (count == 3) {
            //             count = 0;
            //         }
            //     })
            //     $('.shifting-slide-title').each(function (index) {
            //         $('.shifting-slide-title').eq(index).removeClass('-active'); //將所有圖片都不顯示
            //         $('.shifting-slide-title').eq(count).addClass('-active');
            //         if (count == 3) {
            //             count = 0;
            //         }
            //     })
            //     $('.large').each(function (index) {
            //         $('.large').eq(index).removeClass('-active'); //將所有圖片都不顯示
            //         $('.large').eq(count).addClass('-active');
            //         if (count == 3) {
            //             count = 0;
            //         }
            //     })
            // })
            // $(document).on('click', '.prev', function (e) {
            //     count--;
            //     $('.small').each(function (index) {
            //         $('.small').eq(index).removeClass('-active'); //將所有圖片都不顯示
            //         $('.small').eq(count).addClass('-active');
            //         if (count == -1) {
            //             count = 2;
            //         }
            //     })
            //     $('.shifting-slide-title').each(function (index) {
            //         $('.shifting-slide-title').eq(index).removeClass('-active'); //將所有圖片都不顯示
            //         $('.shifting-slide-title').eq(count).addClass('-active');
            //         if (count == -1) {
            //             count = 2;
            //         }
            //     })
            //     $('.large').each(function (index) {
            //         $('.large').eq(index).removeClass('-active'); //將所有圖片都不顯示
            //         $('.large').eq(count).addClass('-active');
            //         if (count == -1) {
            //             count = 2;
            //         }
            //     })
            // })


        });




    </script>
    <script src="./js/index.min.js"></script>
</body>

</html>