<!DOCTYPE html>
<html lang="en">


<head>
    @@include('layout/head.html')


</head>

<body class="login">

    @@include('layout/top.html')
    <div class="wrapper">
        @@include('layout/login.html')
        @@include('layout/nav.html')
        <!-- 登入註冊 -->
        <main class="container" id="login">

            <div class="card mb-3 mt-5 login" style="max-width: 900px; ">
                <div class="row login_row">
                    <div class="col-md-7 login_photo">
                        <img src="img/logo.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body ">
                            <ul class="nav nav-pills mb-4 justify-content-center" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-home" type="button" role="tab" >登入</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-profile" type="button" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">註冊</button>
                                </li>

                            </ul>
                            <div class="tab-content " id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
                                    <form class="login_reset justify-content-center">
                                        <div class="row mb-3">
                                            <label class="col-sm-12 col-form-label ">帳號：</label>
                                            <br>
                                            <div class="col-sm-12 ">
                                                <input type="text" placeholder="請輸入 Email" v-model="login_account"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-12 col-form-label">密碼：</label>
                                            <br>
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <input type="password" placeholder="請輸入密碼"
                                                            class="mb-3 password form-control" v-model="login_password">
                                                    </div>
                                                    <div class="col-5">
                                                        <i class="fa-solid fa-eye-slash eye1" @click="eyeToggle='open'"
                                                            :class="openEye" ></i>
                                                        <i class="fas fa-eye eye-slash1"
                                                            @click="eyeToggle='close'" :class="closeEye"
                                                            style="display: none;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-grid gap-2 col-6 d-flex flex-row-reverse">
                                            <div class="d-grid gap-2 col-6 d-flex flex-row-reverse">
                                                <input class="btn btn-warning " type="button" value="登入"
                                                    @click="member_login">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel">
                                    <form class="reset justify-content-center">
                                        <label class="col-sm-12 col-form-label ">會員帳號：</label>
                                        <br>
                                        <div class="col-sm-12 ">
                                            <input type="email" name="email" placeholder="請輸入 Email"
                                                class="mb-2 form-control" required="required" v-model="account" />
                                        </div>
                                        <label class="col-sm-12 col-form-label ">手機：</label>
                                        <br>
                                        <div class="col-sm-12 ">
                                            <input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength=10
                                                placeholder="09xx-xxx-xxx" class="mb-2 form-control" required="required"
                                                v-model="phone" />
                                        </div>
                                        <label for="floatingPassword" class="col-sm-12 col-form-label ">密碼：</label>
                                        <br>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-7">
                                                    <input type="password" id="floatingPassword" placeholder="請輸入7位以上英文或數字" class="password mb-2 form-control" pattern="[a-zA-Z0-9]{7,}" required="required" v-model="password">
                                                </div>
                                                <div class="col-5 login_eye">
                                                    <i class="fa-solid fa-eye-slash eye1" @click="eyeToggle='open'"
                                                    :class="openEye" ></i>
                                                <i class="fas fa-eye eye-slash1"
                                                    @click="eyeToggle='close'" :class="closeEye"
                                                    style="display: none;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <label>確認密碼：<br><input type="password" value="" placeholder="請再次輸入密碼"
                                                class="mb-2 password" pattern="[a-zA-Z0-9]{7,}" required="required">
                                        </label> -->
                                        <!-- <i class="fas fa-eye eye1" @click="eyeToggle='open'" :class="openEye"></i>
                                        <i class="fa-solid fa-eye-slash eye-slash1" @click="eyeToggle='close'"
                                            :class="closeEye" style="display: none"></i> -->

                                            <label class="col-sm-12 col-form-label ">地址：</label>
                                            <br>
                                            <div class="col-sm-12 ">
                                            <input type="text" value="" placeholder="請輸入地址" class="mb-2 form-control"
                                                required="required" v-model="address" >
                                            </div>
                                            <label class="col-sm-12 col-form-label ">性別：<br></label>
                                        <label >
                                            <input type="radio" required="required" class="mb-4" name="gender" value="0"
                                                v-model="gender">男</label>
                                        <label><input type="radio" required="required" class="mb-4" name="gender"
                                                value="1" v-model="gender">女</label>
                                        <br>
                                        <div class="d-grid gap-2 col-6 d-flex flex-row-reverse">
                                            <input class="btn btn-warning " type="button" value="註冊"
                                                @click="new_member">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @@include('layout/footer.html')
    </div>
    <script src="./js/main.min.js"></script>
    <script>
        function loginMember(msg, icon, html) {
            Swal.fire({
                title: msg,
                icon: icon,
                html: html,

                showConfirmButton: false, // 確認按鈕（預設會顯示不用設定）
                confirmButtonText: '參加活動', //　按鈕顯示文字
                confirmButtonAriaLabel: '參加活動', // 網頁無障礙用
                confirmButtonColor: '#75706b', // 修改按鈕色碼

                // 使用同確認按鈕
                // showDenyButton: true, // 否定按鈕
                showCancelButton: false, // 取消按鈕

                buttonsStyling: false, // 是否使用sweetalert按鈕樣式（預設為true）
            })
        }
    </script>

    <script>
        new Vue({
            el: '#login',
            data() {
                return {
                    // className: "fas fa-eye",
                    eyeToggle: 'close',
                    eyeToggle2: 'close',
                    account: '',
                    phone: '',
                    password: '',
                    address: '',
                    gender: '',
                    login_account: '',
                    login_password: '',
                }
            },
            computed: {
                openEye() {
                    if (this.eyeToggle == 'close') {
                        $(".eye1").attr("style", "display:inline")
                        $('.password').attr('type', 'password');
                        $(".eye-slash1").attr("style", "display:none")
                    }
                },
                closeEye() {
                    if (this.eyeToggle == 'open') {
                        $(".eye-slash1").attr("style", "display:inline")
                        $('.password').attr('type', 'text');
                        $(".eye1").attr("style", "display:none")
                    }
                }
            },
            methods: {
                member_login() {
                    // alert(this.login_account)
                    if (this.login_account != '' && this.login_password != '') {
                        if (this.login_account.length < 10 || this.login_account.length > 40) {
                            // alert("請輸入正確信箱格式")
                            loginMember('<strong>請輸入正確信箱格式</strong>', 'error')
                        } else if (this.login_password.length < 7) {
                            // alert("密碼長度不足")
                            loginMember('<strong>密碼長度不足</strong>', 'error')
                        } else {
                            // alert(this.login_account)
                            fetch("php/login_new.php", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                    // "Accept": "application/json",
                                },
                                mode: "cors",
                                body: JSON.stringify({
                                    login_account: this.login_account,
                                    login_password: this.login_password,
                                }),
                            })
                                .then(resp => resp.json())
                                .then((body) => {
                                    console.log(body);
                                    const { successful } = body;
                                    let status = { login: '', id: '', account: '' };
                                    if (successful) {
                                        loginMember('<strong>登入成功</strong>', 'success', '<button class="btn btn-warning m-3"><a href="./product.html" style="color: #fff">開始購物</a></button> ')
                                        let login_reset = document.querySelector(".login_reset")
                                        login_reset.reset();
                                        sessionStorage.setItem('status', JSON.stringify(body));
                                        // if (sessionStorage.getItem('status') == null){
                                        //     // let data = true;


                                        //     console.log(sessionStorage.getItem('status'));
                                        // }else{
                                        //     console.log(sessionStorage.getItem('status'));
                                        //     // let data = sessionStorage.getItem('status');
                                        //     // data.login = 'false';
                                        //     sessionStorage.setItem('status', false);
                                        // }

                                    } else {
                                        loginMember('<strong>登入失敗</strong>', 'error');
                                        sessionStorage.setItem('status', false);
                                    }
                                });

                        }
                    } else {
                        // alert('請填寫完所有欄位再送出')
                        loginMember('<strong>請填寫完所有欄位再送出</strong>', 'error')
                    }
                },
                new_member() {
                    if (this.account != '' && this.phone != '' && this.password != '' && this.address != '') {
                        if (this.account.length < 10 || this.account.length > 40) {
                            // alert("請輸入正確信箱格式")
                            loginMember('<strong>請輸入正確信箱格式</strong>', 'error')
                        } else if (this.phone.length != 10) {
                            // alert("請輸入正確手機格式")
                            loginMember('<strong>請輸入正確手機格式</strong>', 'error')
                        } else if (this.password.length < 7) {
                            // alert("密碼長度不足")
                            loginMember('<strong>密碼長度不足</strong>', 'error')
                        } else {
                            fetch("php/add_member.php", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                mode: "cors",
                                body: JSON.stringify({
                                    account: this.account,
                                    phone: this.phone,
                                    password: this.password,
                                    address: this.address,
                                    gender: this.gender
                                }),
                            })
                                .then(resp => resp)
                                .then((body) => {
                                    loginMember("<strong>註冊成功</strong>", 'success', '<button class="btn btn-warning m-3"><a href="./login.html" style="color: #fff">前往登入</a></button> ')
                                    let reset = document.querySelector(".reset")
                                    reset.reset()
                                });
                        }
                    } else {
                        // alert('請填寫完所有欄位再送出')
                        loginMember('<strong>請填寫完所有欄位再送出</strong>', 'error')
                    }
                },
            }
        })
    </script>
</body>

</html>