<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('layout/head.html')
  </head>

  <body id="member2">
    @@include('layout/top.html')
    @@include('layout/login.html')
    @@include('layout/nav.html')

    <main class="container">
      <h2 class="padding_10"><span class="textUnderline">會員中心</span></h1>
      
        <!-- tab頁籤 -->
      <ul class="tabs margin_top_20">
        <li data-tab-target="#member" class="active tab padding_10">會員資料</li>
        <li data-tab-target="#pwd" class="tab padding_10">密碼變更</li>
        <li data-tab-target="#order" class="tab padding_10">訂單查詢</li>
        <li id="showFavorPic" data-tab-target="#favor" class="tab padding_10">收藏清單</li>
      </ul>
  
        <!-- 會員資料內容 -->
        <div class="tab-content padding_20">
          <div id="member" data-tab-content class="active">
            <h3>資料變更</h3>
              <div id="container">
  
                <div action="php/memberUpdate.php" method="POST">
                  <fieldset disabled>
                    <div class="row justify-content-center">
                      <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                        <label for="disabledTextInput">會員帳號:</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" name="userID">
                      </div>
                    </div>
                  </fieldset>
                  <div class="row justify-content-center">
                    <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                      <label for="memberName">姓名:</label>
                      <input type="text" class="form-control margin_top_10" id="memberName" placeholder="輸入姓名" name="userName">
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                      <label for="memberAdd">聯絡地址:</label>
                      <input type="text" class="form-control margin_top_10" id="memberAdd" placeholder="輸入地址" name="userAdd">
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                      <label for="memberPhone">電話:</label>
                      <input type="text" class="form-control margin_top_10" id="memberPhone" placeholder="輸入電話" name="userTel">
                    </div>
                  </div>
  
                  <div class="form-group margin_top_30 member-btn">
                    <input id="memberSubmit" type="submit" class="btn_style">
                  </div>
                </div>
              </div>
          </div>
  
          <!-- 密碼變更內容 -->
          <div id="pwd" data-tab-content>
            <h3>密碼變更</h3>
              <div id="container">
                <!-- <form action="php/passwordUpdate.php" method="post"> -->
                <div>
                  <div class="row justify-content-center">
                    <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                      <label for="oldPassword">舊密碼:</label>
                      <input id="password-field" type="password" class="form-control margin_top_10" id="oldPassword" placeholder="輸入舊密碼" required>
                      <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                      <label for="newPassword">新密碼:</label>
                      <input id="password-field" type="password" class="form-control margin_top_10" id="newPassword" placeholder="輸入新密碼" required>
                      <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                      <label for="newPassword2">確認新密碼:</label>
                      <input id="password-field" type="password" class="form-control margin_top_10" id="newPassword2" placeholder="再次輸入新密碼" required>
                      <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                  </div>
                  <div class="form-group margin_top_30 password-btn">
                    <input id="pswUpdate" type="submit" class="btn_style" value="修改密碼">
                  </div>
                </div>
              </div>
          </div>
  
          <!-- 訂單查詢內容 -->
          <div id="order" data-tab-content>
            <div id="table_id">
              <table  class="table table-striped table-sm">
                <thead class="order-title padding_10">
                  <tr>
                    <th>訂單編號</th>
                    <th>購買日期</th>
                    <th>訂單總額</th>
                    <th>訂單狀態</th>
                    <th>訂單詳情</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- 訂單 -->
                  <tr class="list-title padding_10" v-for="(list,index) in lists">
                    <!-- 訂單編號	購買日期	訂單總額	訂單狀態 -->
                    <td>{{list.id}}</td> 
                    <td>{{list.date}}</td>
                    <td>NT${{list.total_price}}</td>
                    <td>{{list.status}}</td>
                    <td>
                    <!-- <td class="detailPO unclick" data-type = "1"> -->
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" @click="aaa(list.id)"
                      data-toggle="modal" data-target="#poDetail">
                      點擊查看詳情
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
  
              <!-- 訂單詳情內容 --> <!-- Modal -->
              <div class="modal fade" id="poDetail" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">訂單詳情</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none; text-decoration: none; background-color:transparent;">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <table class="table table-striped">
                        <thead id="orderDetail_id" class="order-title padding_10 poDetail" >
                          <tr class="detail1 hide .order-content" >
                            <th style="text-align: center;">商品編號</th>
                            <th style="text-align: center;">商品名稱</th>
                            <th style="text-align: center;">數量</th>
                            <th style="text-align: center;">單價</th>
                            <th style="text-align: center;">小計</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="detail1 hide .order-content poDetail" v-for="(product,index) in products" >
                            <td style="text-align: center;">{{product.id}}</td>
                            <td style="text-align: center;">{{product.name}}</td>
                            <td style="text-align: center;">{{product.quantity}}</td>
                            <td style="text-align: center;">{{product.price}}</td>
                            <td style="text-align: center;">{{product.sub_price}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal" style="border-radius: 2px;">關閉</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- 收藏清單內容 -->
          <div id="favor" data-tab-content class="container">
            <div id="favorRow" class="row">
              
              <!-- <div class="liked_product col-12 col-lg-3 col-md-6">
                <i class="heart-like-button fas fa-heart"></i>
                <img class="liked_img" src="./img/member/favor/chair_001.jpg">
                <span> 羅丹辦公椅</span>
              </div> -->
  
            </div>
          </div>
        </div>
    </main>

    @@include('layout/footer.html')

    <script>
      //  tab頁籤轉換
      const tabs = document.querySelectorAll("[data-tab-target]");
      const tabContents = document.querySelectorAll("[data-tab-content]");

      tabs.forEach((tab) => {
        tab.addEventListener("click", () => {
          const target = document.querySelector(tab.dataset.tabTarget);
          tabContents.forEach((tabContent) => {
            tabContent.classList.remove("active");           
          });
          tabs.forEach((tab) => {
            tab.classList.remove("active");
          });
          tab.classList.add("active");
          target.classList.add("active");
          // console.log(target)
        });
      });

      // 從sessionStorages拿出會員資料
      var memberInfo = sessionStorage.getItem('status');
      // console.log(memberInfo); 

      // 訂單查詢明細展開   
      // $(".detail").on('click', function(event) {
      //   var type = $(this).attr("data-type");
      //   $(".detail"+type).toggle();
      //   var $this=$(this);
      //   if($this.hasClass('unclick')){
      //     $this.removeClass('unclick').addClass('click');
      //   }else{
      //     $this.removeClass('click').addClass('unclick');
      //   }
      // });

      // 取出收藏清單在sessionStorage的資料：getItem()
      var favorPic = JSON.parse(sessionStorage.getItem('collect'));
      var showFavorPic = document.getElementById('showFavorPic');
      // console.log(showFavorPic);
      // if(){} 判斷是否為空

      if( favorPic != null ){
        for (let i = 0; i < favorPic.length; i++){
        showFavorPic.addEventListener('click', function(){
          let div = document.getElementById("favorRow");
          div.insertAdjacentHTML("beforeend", 
            `<div class="liked_product col-12 col-lg-3 col-md-6">
              <i id="${favorPic[i].product_id}" class="heart-like-button fas fa-heart"></i>
              <img class="liked_img" src="${favorPic[i].product_img}">
              <span class="product_name">${favorPic[i].product_name}</span>
              </div>
            `
          );

          // 收藏清單愛心點擊照片消失功能 sessionStorage一併刪除
          var dom = document.getElementById(`${favorPic[i].product_id}`)
          dom.addEventListener("click",(e)=>{
            e.target.closest("div.liked_product").remove();
            console.log(e.target);

            let items = JSON.parse(sessionStorage.getItem('collect'));
            let filterItem = JSON.stringify(items.filter(it => it.product_id != e.target.id));
            sessionStorage.setItem('collect', filterItem);
          })
        })
        }
      }
   
      // 使用jQuery Ajax將mySQL data 資料fetch到html:會員資料
      var loginInfo = JSON.parse(sessionStorage.getItem('status'));
      // console.log(loginInfo.id);
      
      $(document).ready(function() {
        var loginInfo = JSON.parse(sessionStorage.getItem('status'));
        fetch('php/memberSelect.php', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
          },
          mode: "cors",
          body: JSON.stringify({ 
            id: loginInfo.id,
          })
        })
          .then(res => res.json())
          .then(res => {
            
            $("#disabledTextInput").val(res[0].account)
            $("#memberName").val(res[0].name)
            $("#memberAdd").val(res[0].address)
            $("#memberPhone").val(res[0].phone)
          // console.log(res)
          })

        // $.ajax({
        //   type: "POST",
        //   // 先撈出mySQL內的會員資料
        //   url: "php/memberSelect.php",
        //   data:{
        //     id : loginInfo.id,
        //   },
        //   dataType: "json",
        //   async: false,
        //   success: function(data) {
        //     // var data = JSON.stringify(data);
        //     var data = JSON.parse(data);
        //     // console.log(data);
        //     // $('#member').html(data)
        //     // $('#member').append(data)
        //     $("#disabledTextInput").val(data[0].account)
        //     $("#memberName").val(data[0].name)
        //     $("#memberAdd").val(data[0].address)
        //     $("#memberPhone").val(data[0].phone)
        //   }
        // });
      });

        // 更改的會員資料update進mySQL
        var memberSubmit = document.getElementById('memberSubmit');
        // console.log(memberSubmit);
        memberSubmit.addEventListener('click', function(){
          var account = document.getElementById("disabledTextInput").value
          var user = document.getElementById("memberName").value
          var address = document.getElementById("memberAdd").value
          var phone = document.getElementById("memberPhone").value
          // console.log(account);

          fetch("php/memberUpdate.php", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            mode: "cors",
            body: JSON.stringify({
              
              account: account,
              user: user,  
              address: address,
              phone: phone,

            }),
          })

        // 判定更新是否成功 成功: alert資料已更新
          .then(response =>{
            if(response.ok){
              alert("資料已更新");
            }else{
              alert("Error");
            }
          })
        });

        // 修改密碼
        var pswUpdate = document.getElementById('pswUpdate');

        pswUpdate.addEventListener('click', function valid(){
        var oldPassword = document.getElementById('oldPassword').value;
        var newPassword = document.getElementById('newPassword').value;
        var newPassword2 = document.getElementById('newPassword2').value;
        // console.log(oldPassword);
        // console.log(newPassword);
        // console.log(newPassword2);

        // 判定舊密碼 新密碼 確認新密碼是否為空值, 或一致
        if(oldPassword==""){
          alert(" 請填寫舊密碼 !!");
          document.getElementById('newPassword').focus();
          return false;
          }
          else if(oldPassword !== loginInfo.password){
          alert(" 舊密碼輸入錯誤，請確認 !!");
          document.getElementById('newPassword').focus();
          return false;
          }
          else if(newPassword.length < 7 || newPassword2.length < 7){
          alert(" 密碼長度不足，請輸入7位以上數字或英文 !!");
          document.getElementById('newPassword').focus();
          return false;
          }
          else if(newPassword==""){
          alert(" 請填寫新密碼 !!");
          document.getElementById('newPassword').focus();
          return false;
          }
          else if(newPassword2==""){
          alert(" 請再次填寫新密碼 !!");
          document.getElementById('newPassword2').focus();
          return false;
          }
          else if(newPassword != newPassword2){
          alert(" 新密碼不符，請確認  !!");
          document.getElementById('newPassword2').focus();
          return false;
          }

          fetch("php/passwordUpdate.php", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            mode: "cors",
            body: JSON.stringify({  

              account : loginInfo.account,
              id : loginInfo.id,
              loginPsw : loginInfo.password,
              oldPassword: oldPassword,
              newPassword: newPassword,
              newPassword2: newPassword2

            })
          })

          // 判定更新是否成功 成功: alert資料已更新
          .then(response =>{
            // console.log(response);
            if(response.ok){
              return response.json()
            }else{
                "Error"
            }
            
          }).then(data =>{
            // console.log(data);
            if(data.message === 'Success'){
              alert("密碼已更新，請重新登入");
              window.location = 'login.html';
              sessionStorage.removeItem('status')
            }
          })

          return true

        });


        // 顯示密碼眼睛
        $(".toggle-password").click(function() {

          $(this).toggleClass("fa-eye fa-eye-slash");
          var input = $($(this).siblings('input'));

          if (input.attr("type") == "password") {
            input.attr("type", "text");
          } else {
            input.attr("type", "password");
          }
        });
    </script>

    <script>
      // Vue for 訂單資料 & 詳情
      new Vue({
        el:'#table_id',
        data:{
          // lists:
          // {
          //   id:'',
          //   date: '',
          //   total_price:'',
          //   status:''
          // },
          // items:[],
          products:[],
          lists:[],
          
        },
        mounted() {
          let coupon = sessionStorage.getItem('coupon');
          let delivery = 80;
          console.log(coupon);

          let mid = loginInfo.id
          // console.log(mid)

          fetch('php/orderList.php',{
            method:'POST',
            headers:{
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            },
            mode: "cors",
            body: JSON.stringify({ id : mid })
          })
          .then(res => res.json())
          .then(res => {
            this.lists.push({
              id: res[0].id,
              date: res[0].date,
              total_price: res[0].total_price - coupon + delivery,
              status: res[0].status,
            })
            for (i = 1; i < res.length ; i++){
              this.lists.push({
                id: res[i].id,
                date: res[i].date,
                total_price: res[i].total_price,
                status: res[i].status,
            })
            }
          }
            // this.lists = res,
          )
        },

        methods: {
          showDetails(id){
            this.fetch(id)
          },
            // alert(id)  
                  
          fetch(id){
            fetch('php/orderDetail.php', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                // 'Accept': 'application/json'
              },
              // mode: "cors",
              body: JSON.stringify({ oid: id })
            })
            .then(res => res.json())
            .then(res => 
            {
              this.products=res
            })
          }
        },
      });

    </script>
    
    <!-- <script>
      Vue for 訂單詳情
      new Vue({
        el:'#poDetail',
        data:{
          detail:{
            id:'',
            name:'',
            quantity: '',
            price:'',
            sub_price:''
          },
          details:[],
        },
        mounted() {
          fetch('php/orderDetail.php')
          .then(res => res.json())
          .then(res => this.details = res)
        },
        methods: {
          action(id){
            alert(id)
            fetch("php/orderDetail.php", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            mode: "cors",
            body: JSON.stringify({  

              orderId : id
              
            })

          })
          }
        },
      });
    </script> -->

  </body>
</html>