<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('layout/head.html')
  </head>

  <body id="member2">
    @@include('layout/top.html')
    @@include('layout/login.html')
    @@include('layout/nav.html')

    <main class="container">
      <h2 class="padding_10"><span class="textUnderline">會員中心</span></h1>

        <!-- tab頁籤 -->
      <ul class="tabs margin_top_20">
        <li data-tab-target="#member" class="active tab padding_10">會員資料</li>
        <li data-tab-target="#pwd" class="tab padding_10">密碼變更</li>
        <li data-tab-target="#order" class="tab padding_10">訂單查詢</li>
        <li data-tab-target="#favor" class="tab padding_10">收藏清單</li>
      </ul>

        <!-- 會員資料內容 -->
      <div class="tab-content padding_20">
        <div id="member" data-tab-content class="active">
            <h3>資料變更</h3>
            <div id="container">

              <div action="php/memberUpdate.php" method="POST">
                <fieldset disabled>
                  <div class="row justify-content-center">
                    <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                      <label for="disabledTextInput">會員帳號:</label>
                      <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" name="userID">
                    </div>
                  </div>
                </fieldset>
                
                <div class="row justify-content-center">
                  <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                    <label for="memberName">姓名:</label>
                    <input type="text" class="form-control margin_top_10" id="memberName" placeholder="輸入姓名" name="userName">
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                    <label for="memberAdd">聯絡地址:</label>
                    <input type="text" class="form-control margin_top_10" id="memberAdd" placeholder="輸入地址" name="userAdd">
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                    <label for="memberPhone">電話:</label>
                    <input type="text" class="form-control margin_top_10" id="memberPhone" placeholder="輸入電話" name="userTel">
                  </div>
                </div>
                
                <!-- <fieldset disabled>
                  <div class="row justify-content-center">
                    <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                      <label for="disabledTextInput">生日:</label>
                      <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" name="userBD">
                    </div>
                  </div>
                </fieldset> -->

                <div class="form-group margin_top_30 member-btn">
                  <input type="submit" class="btn_style">
                </div>
              </div>

            </div>
        </div>

        <!-- 密碼變更內容 -->
        <div id="pwd" data-tab-content>
            <h3>密碼變更</h3>
            <div id="container">
              <!-- <form action="../passwordUpdate.php" method="post"> -->
              <form action="" method="">
                <div class="row justify-content-center">
                  <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                    <label for="oldPassword">舊密碼:</label>
                    <input type="password" class="form-control margin_top_10" id="oldPassword" placeholder="輸入舊密碼" required>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                    <label for="newPassword">新密碼:</label>
                    <input type="password" class="form-control margin_top_10" id="newPassword" placeholder="輸入新密碼" required>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="form-group margin_top_20 col-12 col-md-8 col-lg-6">
                    <label for="newPassword2">確認新密碼:</label>
                    <input type="password" class="form-control margin_top_10" id="newPassword2" placeholder="再次輸入新密碼" required>
                  </div>
                </div>
                <div class="form-group margin_top_30 password-btn">
                  <input type="submit" class="btn_style" value="修改密碼">
                </div>
              </form>

            </div>
        </div>

        <!-- 訂單查詢內容 -->
        <div id="order" data-tab-content>             
          <table id="table_id" class="table table-striped table-sm">
            <thead class="order-title padding_10">
              <tr>
                <th>訂單編號</th>
                <th>購買日期</th>
                <th>訂單總額</th>
                <th>訂單狀態</th>
                <th>訂單詳情</th>
              </tr>
            </thead>
            <tbody>
              <!-- 訂單 -->
              <tr class="list-title padding_10" v-for="(list,index) in lists">
                <!-- 訂單編號	購買日期	訂單總額	訂單狀態 -->
                <td>{{list.id}}</td> 
                <td>{{list.ID_order}}</td>
                <td>{{list.total}}</td>
                <td>{{list.status}}</td>
                <td class="detailPO unclick" data-type = "1">
                  <!-- Button trigger -->
                  <button type="button" class="btn btn-primary" @click="action(list.id)">
                  點擊查看詳細
                  </button>
                </td>
              </tr>
            </tbody>
            <!-- 訂單詳情內容 -->
            <!-- <table id="poDetail" class="block" > -->
              <thead id="orderDetail_id" class="order-title padding_10 poDetail" >
                <tr class="detail1 hide .order-content" >
                  <th style="text-align: center;">商品名稱</th>
                  <th style="text-align: center;">數量</th>
                  <th style="text-align: center;">單價</th>
                </tr>
              </thead>
              <tbody>
                <tr class="detail1 hide .order-content poDetail" v-for="(detail,index) in details" >
                  <td style="text-align: center;">{{detail.product_id}}</td>
                  <td style="text-align: center;">{{detail.quantity}}</td>
                  <td style="text-align: center;">{{detail.price}}</td>
                </tr>
              </tbody>
            <!-- </table> -->
          </table> 
        </div>

        <!-- 收藏清單內容 -->
        <div id="favor" data-tab-content class="container">
          <div class="row">

            <div class="liked_product col-12 col-lg-3 col-md-6">
              <i class="heart-like-button fas fa-heart"></i>
              <img class="liked_img" src="./img/member/favor/chair_001.jpg">
              <span> 羅丹辦公椅</span>
            </div>

            <div class="liked_product col-12 col-lg-3 col-md-6">
              <i class="heart-like-button fas fa-heart"></i>
              <img class="liked_img" src="./img/member/favor/chair_002.jpg">
              <span> 羅丹辦公椅</span>
            </div>

            <div class="liked_product col-12 col-lg-3 col-md-6">
              <i class="heart-like-button fas fa-heart"></i>
              <img class="liked_img" src="./img/member/favor/chair_003.jpg">
              <span> 羅丹辦公椅</span>
            </div>

            <div class="liked_product col-12 col-lg-3 col-md-6">
              <i class="heart-like-button fas fa-heart"></i>
              <img class="liked_img" src="./img/member/favor/chair_001.jpg">
              <span> 羅丹辦公椅</span>
            </div>

            <div class="liked_product col-12 col-lg-3 col-md-6">
              <i class="heart-like-button fas fa-heart"></i>
              <img class="liked_img" src="./img/member/favor/chair_001.jpg">
              <span> 羅丹辦公椅</span>
            </div>
          </div>
        </div>
      </div>
    </main>

    @@include('layout/footer.html')

    <script>
      //  tab頁籤轉換
      const tabs = document.querySelectorAll("[data-tab-target]");
      const tabContents = document.querySelectorAll("[data-tab-content]");

      tabs.forEach((tab) => {
        tab.addEventListener("click", () => {
          const target = document.querySelector(tab.dataset.tabTarget);
          tabContents.forEach((tabContent) => {
            tabContent.classList.remove("active");           
          });
          tabs.forEach((tab) => {
            tab.classList.remove("active");
          });
          tab.classList.add("active");
          target.classList.add("active");
          // console.log(target)
        });
      });

      // 訂單查詢明細展開   
      // $(".detail").on('click', function(event) {
      //   var type = $(this).attr("data-type");
      //   $(".detail"+type).toggle();
      //   var $this=$(this);
      //   if($this.hasClass('unclick')){
      //     $this.removeClass('unclick').addClass('click');
      //   }else{
      //     $this.removeClass('click').addClass('unclick');
      //   }
      // });

      // 收藏清單愛心點擊照片消失功能
      const heart_btn = document.querySelectorAll(".heart-like-button");
      const liked_product = document.querySelectorAll('.liked_product');
      // console.log(heart_btn);
      // console.log(liked_product);

      for (let i = 0; i < heart_btn.length; i++){
        heart_btn[i].addEventListener("click", function(e){
        e.target.closest("div.liked_product").remove();
        });
      }

      // 使用jQuery Ajax將mySQL data 資料fetch到html:會員資料
      $(document).ready(function() {
        $.ajax({
          type: "POST",
          // 先撈原本的會員資料
          url: "php/memberSelect.php",
          data:{},
          dataType: "html",
          async: false,
          success: function(data) {
            var data = JSON.parse(data);
            // console.log(data);
            // $('#member').html(data)
            // $('#member').append(data)
            $("#disabledTextInput").val(data[0].account)
            $("#memberName").val(data[0].name)
            $("#memberAdd").val(data[0].address)
            $("#memberPhone").val(data[0].phone)
          }
        });
      });

        // 更改的會員資料update進mySQL
        var memberSubmit = document.getElementById('memberSubmit');
        memberSubmit.addEventListener('click', function(){
          var user = document.getElementById("memberName").value
          var address = document.getElementById("memberAdd").value
          var phone = document.getElementById("memberPhone").value

          fetch("php/memberUpdate.php", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            mode: "cors",
            body: JSON.stringify({    
              user: user,  
              address: address,
              phone: phone,
            }),
          })

          // 判定更新是否成功 成功: alert資料已更新
          .then(response =>{
            if(response.ok){
              alert("資料已更新");
            }else{
              "error"
            }
          })
        });

        // 修改密碼
        var pswUpdate = document.getElementById('pswUpdate');

        // 取值
        pswUpdate.addEventListener('click', function valid(){
          var oldPassword = document.getElementById('oldPassword').value;
          var newPassword = document.getElementById('newPassword').value;
          var newPassword2 = document.getElementById('newPassword2').value;
          // console.log(oldPassword);
          // console.log(newPassword);
          // console.log(newPassword2);

          fetch("php/passwordUpdate.php", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            mode: "cors",
            body: JSON.stringify({  

              oldPassword: oldPassword,
              newPassword: newPassword,
              newPassword2: newPassword2
              
            }),
          })

          // 判定舊密碼 新密碼 確認新密碼是否為空值, 或一致
          if(oldPassword==""){
          alert("Old Password Filed is Empty !!");
          document.getElementById('newPassword').focus();
          return false;
          }
          else if(newPassword==""){
          alert("New Password Filed is Empty !!");
          document.getElementById('newPassword').focus();
          return false;
          }
          else if(newPassword2==""){
          alert("Confirm Password Filed is Empty !!");
          document.getElementById('newPassword2').focus();
          return false;
          }
          else if(newPassword != newPassword2){
          alert("Password and Confirm Password Field do not match  !!");
          document.getElementById('newPassword2').focus();
          return false;
          }
          return true;

        });

        // 使用jQuery Ajax將mySQL data 資料fetch到html: 訂單資料


        // 使用jQuery Ajax將mySQL data 資料fetch到html: 訂單明細

        
        // 讀localStorage顯示收藏清單


        // 取出資料：getItem()
        // localStorage.getItem(key)
        // var getData = localStorage.getItem('key')
        // var car = JSON.parse(localStorage.getItem("car"));
        // console.log(car);
        
        // .then((res) => {
        // localStorage.setItem("apiData", JSON.stringify(res.data));
        // });

//////// THEN YOU CAN GET DATA BY
var data = JSON.parse(localStorage.getItem("apiData"));
    </script>
    <script>
      // Vue for 訂單資料
      new Vue({
        el:'#table_id',
        data:{
          list:{
            id:'',
            ID_order: '',
            total:'',
            status:''
          },
          lists:[],
          detail:{
            product_id:'',
            quantity: '',
            price:'',
          },
          details:[],
        },
        methods: {
          action(id){
            // alert(id)
            var type = $(this).attr("data-type");
            var poDetail = document.querySelectorAll('.poDetail');
            $('.poDetail').toggle();
            var $this=$(this);
            if($this.hasClass('block')){
              $this.removeClass('block').addClass('none');
            }else{
              $this.removeClass('none').addClass('block');
            }
          }
        },
        mounted() {
          fetch('php/orderList.php')
          .then(res => res.json())
          .then(res => this.lists = res)

          fetch('php/orderDetail.php')
          .then(res => res.json())
          .then(res => this.details = res)
        },

      });
    </script>


  </body>
</html>