<!DOCTYPE html>
<html lang="en">

<head>
  @@include('layout/head.html')
</head>

<body class="product">

  @@include('layout/login.html')
  @@include('layout/nav.html')
  <!-- <div class="wrapper"></div>   -->
  <section class="productslider"></section>
  <main class="container" id="app">
    <section class="title">
      <h1 class="p-3">產品總覽
        <!-- <div v-html="cart2"></div> -->
      </h1>
      <img src="./img/product/all_bn001.jpg" class="img-fluid" data-aos="zoom-in" data-aos-duration="2000">
    </section>
    <!-- <div class="box">
      <section class="productslider"></section>
    </div> -->
    
    <section class="slidebar">
      <section class="smallicon">
        <div class="smallicon_case">
          <a class="smallNav" ><img src="./img/product/nav_nav_all.svg" alt=""></a>
          <a class="smallNav" ><img src="./img/product/nav_nav_chair.svg" alt=""></a>
          <a class="smallNav" ><img src="./img/product/nav_nav_table.svg" alt=""></a>
          <a class="smallNav" ><img src="./img/product/nav_nav_self.svg" alt=""></a>
        </div>
      </section>
    </section>
    

      <!-- <section class="product">
      <main class="product_container bootstrap snipets">
        <h1 class="text-center text-muted"></h1>
        <section class="smallicon">
          <div class="smallicon_case">
            <a href=""><img src="./img/product/nav_nav_all.svg" alt=""></a>
            <a href=""><img src="./img/product/nav_nav_chair.svg" alt=""></a>
            <a href=""><img src="./img/product/nav_nav_table.svg" alt=""></a>
            <a href=""><img src="./img/product/nav_nav_self.svg" alt=""></a>
          </div>
        </section> -->

            <!-- <row-component class="row flow-offset-1" v-for="(item,key) in data" :product-item="item" :key="key"></row-component> -->
       <div is="row-component" class="row flow-offset-1" v-for="(item,key) in data" :product-item="item" :key="key" >
        <!-- <div is="row-component"  class="row flow-offset-1" v-for="(item,key) in data" :product-item="item" :key="key"></div>  -->
        <!-- <row-component class="row flow-offset-1" v-for="(product,i) in products" :product-item="product" :i="i"></row-Component>       -->
         <div data-aos="fade-up" data-aos-duration="3000"
          v-for="(product,i) in data" class="col-sm-6 col-md-4 col-xl-3 aos-init aos-animate" >
          <a :href="'./product_in.html?id='+product.id">
            <div class="product tumbnail thumbnail-3">
              <img :src="product.image" alt="">
              
              <div class="caption">
                <h6>{{product.productname}}</h6>
                <p class="price">{{product.price}}</p>
          </a>
        </div> 
      </div>
  </main>
  @@include('layout/footer.html')
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>  

    let smallicon = document.querySelector(".smallicon"); 
    let smallNav = document.querySelectorAll(".smallNav");
    console.log(smallNav);

    // for(let i = 0 ; i < smallNav.length; i++){
    //   // console.log(smallNav[i]);
    // }


    // smallNav.addEventListener("click",function(){
    //   for (let i = 0; i < smallNav.length; i++){
    //     // console.log(smallNav[i]);
    //   }
    // }

     // for (let i = 0; i < smallNav.length; i++) {
        // console.log(smallNav);
        // console.log(smallNav[i].src);


        // console.log(e.target);
        // console.log(smallNav[i]);      
      





    // document.addEventListener("DOMContentLoaded", function () {
    //   let smallicon = document.querySelector(".smallicon");
      // console.log(smallicon);
      // let blocktop = document.querySelector(".img-fluid");
      // console.log(blocktop);
      // console.log(blocktop.offsetTop);
      // console.log(blocktop.offsetTop - smallicon.scrollTop);
      // console.log(smallicon.style.top = blocktop.offsetHeight + blocktop.offsetTop + "px");
      // console.log(smallicon.style.top);
      // smallicon.addEventListener("scroll", function (e) {
        // smallicon.style.top;
        // smallicon.style.top = blocktop.offsetHeight + blocktop.offsetTop + "px";
        //
        // smallicon.style.top = blocktop.offsetTop
        // console.log("scrollX: " + window.scrollX);
        // smallicon.window.scrollX(300);
        // console.log("scrollY: " + window.scrollY);
        // blocktop.offsetTop - smallicon.scrollTop;
        // console.log(blocktop.offsetTop - smallicon.scrollTop);
        // blocktop.offsetTop - smallicon.scrollTop;
    //   });
    // })
    // console.log(smallicon.style.top);
    // window.addEventListener("scroll", function (e) {
    //   console.log("scrollX: " + window.scrollX);
    //   console.log("scrollY: " + window.scrollY);
    // });
    // smallicon.addEventListener("scroll", function () {
    //   console.log("smallicon: " + window.scrollX);
    //   console.log("smallicon: " + window.scrollX);
    // });
    // let a = localStorage.getItem("id");

  </script>
  <script type = "text/x-template" id="rowComponentTemplate">
    <div class="col-sm-6 col-md-4 col-xl-3 aos-init aos-animate" data-aos="fade-up" data-aos-duration="3000">
        <a :href="'./product_in.html?id='+productItem.id">
          <div class="product tumbnail thumbnail-3">
            <img :src="productItem.image" alt="">
              <!-- <img class="favorite" src="./img/product/favorite.svg" alt="" srcset="" @click.stop.prevent="add_cart()"> -->
              <div class="caption" >
                <h6>{{productItem.productname}}</h6>
                <p class="price">{{productItem.price}}</p>
              </div>
          </div>
        </a>      
    </div>
  </script>
  <script>
    
    Vue.component("row-component",{
      props:["productItem"],
      template:"#rowComponentTemplate"
    })
  
      new Vue({
        el: '#app',
        data: {
          // text: 'ss',
          // cart2: '<div>asdadx</div>',
          data:
            [
              {
                "id": 2,
                "image": "/img/product/chair_001.jpg",
                "productname": "chair",
                "price": 300
              },
              {
                "id": 3,
                "image": "/img/product/shelf_001.jpg",
                "productname": "shelf",
                "price": 500
              },
              {
                "id": 3,
                "image": "/img/product/shelf_001.jpg",
                "productname": "chair",
                "price": 500
              },
              {
                "id": 3,
                "image": "/img/product/shelf_001.jpg",
                "productname": "shelf",
                "price": 500
              },
              {
                "id": 3,
                "image": "/img/product/shelf_001.jpg",
                "productname": "shelf",
                "price": 500
              },
              {
                "id": 2,
                "image": "/img/product/chair_001.jpg",
                "productname": "chair",
                "price": 300
              },
              {
                "id": 3,
                "image": "/img/product/shelf_001.jpg",
                "productname": "shelf",
                "price": 500
              },
              {
                "id": 1,
                "image": "/img/product/table_001.jpg",
                "productname": "table",
                "price": 100
              },
              {
                "id": 2,
                "image": "/img/product/chair_001.jpg",
                "productname": "chair",
                "price": 300
              },
              {
                "id": 3,
                "image": "/img/product/shelf_001.jpg",
                "productname": "shelf",
                "price": 500
              },
              {
                "id": 1,
                "image": "/img/product/table_001.jpg",
                "productname": "table",
                "price": 100
              },
              {
                "id": 2,
                "image": "/img/product/chair_001.jpg",
                "productname": "chair",
                "price": 300
              },
            ]
          // <div class="col-sm-6 col-md-4 col-xl-3">
          //   <a href="./product_in.html">
          //     <div class="product tumbnail thumbnail-3">
          //       img src="./img/product/chair_001.jpg" alt="">
          //       <img class="favorite" src="./img/product/favorite.svg" alt="" srcset=""
          //         @click.stop.prevent="add_cart()">
          //       <div class="caption">
          //         <h6>Short Sleeve T-Shirt</h6>
          //         <p class="price">$24.99</p>

        },
        // methods: {
        //   add_cart() {
        //     alert(123);
        //   }
        // }
      })
      
  </script>
  

   <!-- <script>
  //   let productArr = [{
  //     name: "",
  //     prize: 0,
  //     content: "",
  //     photo: ""
  //   }];
  //   for (let i = 0; i <= 10; i++) {
  //     let counter = 0;
  //     counter++;
  //     console.log(counter);

  //   }
  // </script> -->
</body>

</html>