<!-- <footer id="footer" class="padding_30 margin_top_50">
    <ul>
        <li v-for="footer in footers">{{footer}}</li>
    </ul>
    <div>
        <a href="#" v-for="footer2 in footers2">{{footer2}}</a>
    </div>
</footer>

<script>
    new Vue({
        el:'#footer',
        data:{
            footers:['森活木工','FACTORY 埼玉県川口市安行領家945-1','contact@sinrafurniture.com',' 048-278-3324'],
            footers2:['facebook','instgram'],
        },
        methods:{

        },
        computed:{

        },
    });
</script> -->


<div id="footer">
    
</div>

<script>
    // global component
    // Vue.component('組件名稱',{
    //     template: ``, //用來定義視覺元件
    // });
    Vue.component('footer-list', {
        template: `
        <ul>
            <li class="pb-2">森活木工</li>
            <li class="pb-2">FACTORY 埼玉県川口市安行領家945-1</li>
            <li class="pb-2">morifurniture@gmail.com</li>
            <li>04-8278-3324</li>
        </ul>
        `, //用來定義視覺元件
    });
    Vue.component('footer-link', {
        template: `
        <ul class="link_icon">
            <li>
                <a href="https://www.facebook.com/" class="pb-2">
                    <img src="./img/index/facebook.png"></img>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/">
                    <img src="./img/index/instagram.png"></img>
                </a>
            </li>
        </ul>
            `, //用來定義視覺元件
    });

    new Vue({
        el: '#footer',
        data: {},
        methods: {},

        // 在template 必須要有一個父元素(一個root)把他們包住
        template: `
        <footer class="padding_30 margin_top_50">
            <div class="footer_info">
                <footer-list></footer-list>
                <footer-link></footer-link>
            </div>
            <hr class="oneheight">
            <div class="pt-4 mx-auto">
                本網站為緯育TibaMe前端設計工程師班第74期第1組學員專題成果作品，本平台僅供學習、展示之用。參考資源：https://sinrafurniture.com/
            </div>
        </footer>
        `,

    });



</script>