<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>森活木工</title>
    <link rel="stylesheet" href="./css/style.css">
    <!-- 載入bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 頁籤上圖示 -->
    <link rel="icon" href="./img/mori_logo.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/10f319606c.js" crossorigin="anonymous"></script>