<header>
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="nav_logo">
            <a class="navbar-brand" href="index.html">
                <img src="./source/mori_logo.png" alt="">
            </a>
        </div>

        <div class="nav_icon">
            <a href="#">
                <i class="fas fa-user-circle"></i>
            </a>
            <a href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <!-- 漢堡checkbox -->
            <input type="checkbox" id="meun_control">
            <!-- 漢堡 -->
            <div class="hamburger">
                <label for="meun_control" class="meun_btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
            <!-- 漢堡出現介面 = 主選單內容 -->
            <div class="main_sel">
                <ul class="main_ul">
                    <li><a href="about.html" class="nav-about">關於我們</a></li>
                    <li><a href="product.html" class="nav-product">所有商品</a></li>
                    <li><a href="course.html" class="nav-course">客製化專區</a></li>
                    <li><a href="course.html#reserve" class="nav-reserve">最新消息</a></li>
                    <li><a href="design.html" class="nav-design">常見問題</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>