<header>
    <nav class="navbar fixed-top navbar-expand-xs padding_10">
        <div class="container-fluid">
            <div class="navLogo">
                <a class="navbar-brand" href="index.html">
                    <img src="./img/mori_logo.png" alt="">
                </a>
            </div>

            <div class="navIcon">
                <div class="icon member_ul">
                    <i class="fas fa-user-circle"></i>
                </div>
                <ul class="member_list bg-primary p-3 btn">
                    <li>
                        <a href="member.html">會員中心</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#register" onclick="openModal(this,'login')" style="color: white;">會員登入</button>
                    </li>
                </ul>
                <div class="icon btn_cart_open">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="cart_side bg-gray">
                    <ul class="cart_title bg-primary mb-0 p-3">
                        <li>購物車</li>
                        <li class="btn_cart_close">
                            <span></span>
                            <span></span>
                        </li>
                    </ul>
                    <ul class="cart_content p-3">
                        <li class="detail">
                            <div class="img">
                                <img src="./img/product/chair_001.jpg">
                            </div>
                            <div class="info ps-5">
                                <div class="pname">SEOTO-EX 機櫃</div>
                                <div class="ptype">白橡木</div>
                                <div class="count">
                                    <div><span class="num-jian">-</span></div>
                                    <div><input type="text" class="input-num" value="1" /></div>
                                    <div><span class="num-jia">+</span></div>
                                </div>
                                <div class="price">
                                    1000
                                </div>
                                <div class="operate">
                                    <a href="#" class="del">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                    <a href="#" class="heart">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="cart.html" class="link_cart">前往結帳</a>
                </div>
                <!-- 漢堡checkbox -->
                <input type="checkbox" id="meun_control">
                <!-- 漢堡 -->
                <div class="hamburger">
                    <label for="meun_control" class="meun_btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>
                <!-- 漢堡出現介面 = 主選單內容 -->
                <div class="mainSel">
                    <div class="mainImg">
                    </div>
                    <ul class="mainList">
                        <li class="padding_10 nav-item">
                            <a href="about.html" class="nav-link">關於我們</a>
                        </li>
                        <!-- <li class="padding_10 dropdown-menu">
                            <a href="product.html" class="nav-link">所有商品</a>
                        </li> -->
                        <li class="padding_10 nav-item dropdown">
                            <a class="dropdown-toggle padding_10" href="product.html" id="navbarDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                所有商品
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item nav-link" href="product.html">桌子</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link" href="product.html">櫃子</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link" href="product.html">椅子</a>
                                </li>
                            </ul>
                        </li>
                        <li class="padding_10 nav-item">
                            <a href="customize.html" class="nav-link">客製化專區</a>
                        </li>
                        <li class="padding_10 nav-item">
                            <a href="news.html" class="nav-link">最新消息</a>
                        </li>
                        <li class="padding_10 nav-item">
                            <a href="faq.html" class="nav-link">常見問題</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- 彈跳視窗js -->
<script src="../js/jquery.js"></script>
<script src="../js/pop-up-common.js"></script>

<script>
    $(function () {
        $('.btn_cart_open').on('click',function(){
            $(".cart_side").animate({right:'0'},1500);
        });
        $('.btn_cart_close').on('click',function(){
            $(".cart_side").animate({right:'-100%'},1500);
        });
    });
</script>