<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: #FBF8EA;
        color: #fff;
        font-size: 18px;
        font-family: "Exo 2", sans-serif;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 60px;
        transform: translate(-25%, -25%);

    }

    #wrapper {
        margin: 40px auto 0;
        width: 266px;
        position: relative;
    }

    #txt {
        color: #eaeaea;
    }

    #wheel {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 8px solid #fff;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px, rgba(0, 0, 0, 0.05) 0px 3px 0px;
        transform: rotate(0deg);
    }

    #wheel:before {
        content: '';
        position: absolute;
        border: 4px solid rgba(0, 0, 0, 0.1);
        width: 242px;
        height: 242px;
        border-radius: 50%;
        z-index: 1000;
    }

    #inner-wheel {
        width: 100%;
        height: 100%;
        transition: all 6s cubic-bezier(0, .99, .44, .99);
    }

    #wheel .sec {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 130px 75px 0;
        border-color: #F2F5F4 transparent;
        transform-origin: 75px 129px;
        left: 50px;
        top: -4px;
        opacity: 1;
    }

    #wheel .sec:nth-child(1) {
        transform: rotate(60deg);
        border-color: #F2F5F4 transparent;
    }

    #wheel .sec:nth-child(2) {
        transform: rotate(120deg);
        border-color: #A0643E transparent;
    }

    #wheel .sec:nth-child(3) {
        transform: rotate(180deg);
        border-color: #F2F5F4 transparent;
    }

    #wheel .sec:nth-child(4) {
        transform: rotate(240deg);
        border-color: #A0643E transparent;
    }

    #wheel .sec:nth-child(5) {
        transform: rotate(300deg);
        border-color: #F2F5F4 transparent;
    }

    #wheel .sec:nth-child(6) {
        transform: rotate(360deg);
        border-color: #A0643E transparent;
    }

    #wheel .sec .fa {
        margin-top: -100px;
        color: rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 1000000;
        display: block;
        text-align: center;
        font-size: 36px;
        margin-left: -15px;
        text-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 0px;
    }

    #spin {
        width: 68px;
        height: 68px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -34px 0 0 -34px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 0px;
        z-index: 1000;
        background: #fff;
        cursor: pointer;
        font-family: "Exo 2", sans-serif;
        user-select: none;
    }

    #spin:after {
        content: 'START';
        text-align: center;
        line-height: 68px;
        color: rgb(27, 27, 27);
        font-size: 14px;
        font-weight: 800;
        /* text-shadow: 0 2px 0 #fff, 0 -2px 0 rgba(0, 0, 0, 0.3); */
        position: relative;
        z-index: 100000;
        width: 68px;
        height: 68px;
        display: block;
    }

    #spin:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 28px 20px;
        border-color: transparent transparent #fff transparent;
        top: -12px;
        left: 14px;
    }

    #inner-spin {
        width: 54px;
        height: 54px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -27px 0 0 -27px;
        border-radius: 50%;
        z-index: 999;
        /* box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px; */
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
    }

    /* #spin:active #inner-spin {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
    } */

    #spin:active:after {
        font-size: 15px;
    }

    #shine {
        width: 250px;
        height: 250px;
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.99) 1%, rgba(255, 255, 255, 0.91) 9%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
        opacity: 0.1;
    }

    @keyframes hh {

        0%,
        100% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(7deg);
        }
    }

    .spin {
        animation: hh 0.1s;
    }
</style>
<div id="wrapper">
    <div id="wheel">
        <div id="inner-wheel">
            <div class="sec">
                <span class="fa fa-bell-o">
                    <img src="../img/index/wheel/bath-solid.svg" alt="">
                </span>
            </div>
            <div class="sec">
                <span class="fa fa-comment-o">
                    <img src="../img/index/wheel/bed-solid.svg" alt="">
                </span>
            </div>
            <div class="sec">
                <span class="fa fa-smile-o">
                    <img src="../img/index/wheel/bomb-solid.svg" alt="">
                </span>
            </div>
            <div class="sec">
                <span class="fa fa-heart-o">
                    <img src="../img/index/wheel/chair-solid.svg" alt="">
                </span>
            </div>
            <div class="sec">
                <span class="fa fa-star-o">
                    <img src="../img/index/wheel/cup-solid.svg" alt="">
                </span>
            </div>
            <div class="sec">
                <span class="fa fa-lightbulb-o">
                    <img src="../img/index/wheel/door-closed-solid.svg" alt="">
                </span>
            </div>
        </div>

        <div id="spin">
            <div id="inner-spin"></div>
        </div>

        <div id="shine"></div>
    </div>
    <!-- <div id="txt"></div> -->
</div>
<script>
    var degree = 1800;
    var clicks = 0;

    $(document).ready(function () {
        $('#spin').click(function () {

            clicks++;
            var newDegree = degree * clicks;
            var extraDegree = Math.floor(Math.random() * (360 - 1 + 1)) + 1;
            totalDegree = newDegree + extraDegree;

            $('#wheel .sec').each(function () {
                var t = $(this);
                var noY = 0;

                var c = 0;
                var n = 700;
                var interval = setInterval(function () {
                    c++;
                    if (c === n) {
                        clearInterval(interval);
                    }

                    var aoY = t.offset().top;
                    $('#txt').html(aoY);

                    if (aoY < 23.89) {
                        $('#spin').addClass('spin');
                        setTimeout(function () {
                            $("#spin").removeClass('spin');
                        }, 100);
                    }
                }, 10);

                $('#inner-wheel').css({ 'transform': 'rotate(' + totalDegree + 'deg)' });

                noY = t.offset().top;
            });
        });
    });
</script>